[2013-10-03 22:47] jonathanolson opened #1 "Quadratic equation curve with a quadratic bezier"
Given a polynomial ax^2 + bx + c in the range of x from x0 to x1:

Convert the polynomial p(x) to p'(t) = a't^2 + b't + c', where t goes from 0 to 1 with the transform x = x0 + (x1 - x0)_t:
a' = a_(x1 - x0)^2
b' = (2_a_x0 + b)_(x1 - x0)
c' = a_x0^2 + b*x0 + c

Our control points are now:
p0 = ( x0, c' )
p1 = ( (x0 + x1)/2, b'/2 + c' )
p2 = ( x1, a' + b' + c' )
Evenly spaced x control coordinates,

[2014-06-02 13:50] pixelzoom opened #2 "new image for point tool"
@ariel-phet is going to provide a new image for the point tool in graphing-lines. The right half of the 'window' that displays the value will be replaced with a 'gripper' that encourages the user to grab it. We're making this change since the current design requires covering the value when you drag the tool.

The current image is attached below. Note that the body and tip of the tool are separate

[2014-06-12 22:00] amanda-phet opened #3 "hide line and y-intercept still visible"
In the Slope-Intercept screen, when I click "hide line", the pink dot indicating the y-intercept does not hide with the line.

Test device: Mac

Operating System: OS X 10.9.3

Browser: Chrome Version 35.0.1916.153, Safari Version 7.0.4, Firefox Version 29.0.1

Problem description: In the Slope-Intercept screen, when I click "hide line" the pink dot indicating the y-intercept is still visible.

Ste

[2014-06-12 22:49] #3 closed, assigned to pixelzoom

[2014-06-13 14:44] #2 closed, assigned to ariel-phet

[2014-06-17 20:21] pixelzoom opened #4 "change 'Choose Your Level' in game screen?"
Identical to issue in BCE: https://github.com/phetsims/balancing-chemical-equations/issues/40

In light of the recent discussions about 1st versus 2nd person labels in sims (e.g. phetsims/acid-base-solutions#122), should "Choose Your Level" be changed to something like "Choose A Level" ?

[2014-06-17 21:52] #1 closed, assigned to nobody

[2014-06-18 05:47] samreid opened #5 "Use PropertySet.multilink where possible"
While I was investigating https://github.com/phetsims/axon/issues/32 and https://github.com/phetsims/axon/issues/29 I noticed this code in LineFormsGraphNode.js

[code]

However, since viewProperties extends PropertySet, the more direct form can be used:

[code]

Is there a good reason to use the former?  If not, I recommend the latter where possible.

[2014-06-19 21:19] pixelzoom opened #6 "better screen icons needed"
The screen icons in Graphing Lines are boring, and they don't work in the navigation bar. Let's come up with some new icons. Ideally they should be something that can be created in code, versus image files.

[2014-06-19 21:23] pixelzoom opened #7 "add amanda-phet to About dialog credits"

[2014-06-24 16:32] pixelzoom opened #8 "code review"
@samreid will review first 3 screens (slope, slopeintercept, pointslope) and brief review of common.
@jbphet will review linegame and common.

I'll let you know when the sim is ready for review.

[2014-06-25 01:05] #7 closed, assigned to nobody

[2014-06-25 01:17] #5 closed, assigned to pixelzoom

[2014-06-25 01:17] #4 closed, assigned to krhensberry

[2014-06-26 01:50] ariel-phet opened #9 "Fraction bar missing for point-slope 'Make the Equation' challenge"
Report a Problem
Please copy and paste the information below into an email to phethelp@colorado.edu, and then fill in the blanks.

Test device: Ariel's PC

Operating System: Win 7

Browser: FF 30.0

Problem description: Fraction bar is missing in rendered equatoin

Steps to reproduce: try level 4 and get a Make the equation challenge for point-slope

Severity: should be fixed

Screenshots:

![nofr

[2014-06-26 04:49] pixelzoom opened #10 "verify credits in About dialog"
Below are the current credits, please verify that this is correct.

![screenshot_124](https://cloud.githubusercontent.com/assets/3046552/3394832/4fcf5728-fced-11e3-9b44-2361ccb4aa15.png)

[2014-06-26 05:24] #9 closed, assigned to pixelzoom

[2014-06-26 20:53] samreid opened #11 "Roundoff error in isInteger"
Fraction.isInteger is implemented like this:

[code]

Perhaps it is fine with the low numbers used in the sim, but it could be more robust to provide an implementation of isInteger that is not susceptible to floating point error (or allows some tolerance).

[2014-06-26 20:54] samreid opened #12 "valueOf vs getValue()"
I'm wondering why you used Fraction.valueOf instead of Fraction.getValue or Fraction.toNumber?

[2014-06-26 20:59] samreid opened #13 "Use inherit for consistency?"
For consistency, perhaps we should add methods to the prototype using inherit instead of using the prototype directly.

Currently, Fraction is declared like so:

[code]

But we could be consistent with our style elsewhere if we add to the prototype in inherit:

[code]

In working with different groups recently, this disparity and "having two ways" of adding prototype methods seems like an unnecess

[2014-06-26 21:12] samreid opened #14 "What are the values 1 and 3 in LineFormsModel.js point tool creation and can they be factored out?"
What are the values 1 and 3 in LineFormsModel.js point tool creation and can they be factored out?

[code]

[2014-06-26 21:30] samreid opened #15 "Rename mvt to modelViewTransform"
In many places the ModelViewTransform2 is called `mvt`.  I recommend renaming it to `modelViewTransform`.

[2014-06-26 21:42] #10 closed, assigned to pixelzoom

[2014-06-26 21:51] samreid opened #16 "Move options into _.extend call"
In SlopePicker.js I noticed this code:

[code]

Can the `upFunction` and `downFunction` be moved into the extend call?

[2014-06-26 21:55] samreid opened #17 "What is a dimensional line drawing?"
I'm confused about DimensionalArrowNode.   In its header JSDoc it says:

What is a dimensional line drawing?  Google isn't helping me here.  I think useful documentation here would be where the arrow appears in the sim and _why_ it is supposed to look different than the standard arrow.

[2014-06-26 21:57] #12 closed, assigned to pixelzoom

[2014-06-26 22:01] samreid opened #18 "LineGameView should use GLConstants.RENDERER?"
Perhaps LineGameView should use GLConstants.RENDERER?  LineFormsView is using it.

[2014-06-26 22:02] samreid opened #19 "Delete GLFont"
It seems like it has the same defaults and features as PhetFont, so can it be deleted?

[2014-06-26 22:03] #17 closed, assigned to pixelzoom

[2014-06-26 22:08] samreid opened #20 "EquationControls layout"
I noticed this code in EquationControls.js

[code]

Is it important that the vertical layout is done first?  This comment had me wondering:

Also, can the layout parameters be specified as {} options during construction?  Even if it is only vertical options, it may simplify things here.

For the "do the vertical layout first" section, there are a lot of horizontal setters, such as `x=...`.  Also W

[2014-06-26 22:09] #18 closed, assigned to pixelzoom

[2014-06-26 22:09] #6 closed, assigned to amanda-phet

[2014-06-26 22:21] #16 closed, assigned to pixelzoom

[2014-06-26 22:28] #14 closed, assigned to pixelzoom

[2014-06-26 22:31] #19 closed, assigned to pixelzoom

[2014-06-26 22:46] #20 closed, assigned to pixelzoom

[2014-06-26 23:07] #13 closed, assigned to pixelzoom

[2014-06-27 00:03] #15 closed, assigned to nobody

[2014-06-27 01:04] #11 closed, assigned to jonathanolson

[2014-06-30 01:36] samreid opened #21 "AddChild in Node Constructor"
In SlopeEquationNode.js, I saw code like this:

[code]

And in EquationControls.js, code like this:

[code]

This is subjective and not a very big issue, but it feels to me like setting the children in the node construction is more like idiomatic usage of scenery.Node.  For instance, the top example would read like so:

[code]

Comparing the two, the latter (`children:[...])`  seems easier to read

[2014-06-30 02:16] samreid opened #22 "Elaborate on updatingControls"
In PointSlopeEquationNode.js I saw this:

[code]

The documentation for `updatingControls` is:

[code]

But it wasn't clear why certain properties aren't set if updatingControls is true.  Can you add documentation that elaborates on that, at the sites where `if (!updatingControls)` is used?  What would happen without `updatingControls`?

[2014-06-30 02:23] samreid opened #23 "Relationship between properties"
In SlopeEquationNode.js, the lineProperty is passed in as an argument.  Then other properties are declared like so:

[code]

This seems backwards.  Shouldn't x1,y1,x2,y2 be declared as the fundamental properties, and the rise/run/line would be derived from them (as DerivedProperty) instances?  Or if the design as above is the best one, please comment why this is so.

[2014-06-30 15:54] aaronsamuel137 opened #24 "Challenge arguments and sub-classes"
I noticed that both of the subclasses of Challenge, GraphTheLine and MakeThe Equation, have 5 of the same hardcoded arguments to the super call:

[code]

Is there any reason why these shouldn't be moved to the super class to avoid code duplication and reduce the number of arguments needed for Challenge (which takes 12 arguments)?

Or if it is preferred to leave Challenge more general, why not make

[2014-06-30 16:06] aaronsamuel137 opened #25 "Ranges in ChallengeFactories"
Looks like ChallengeFactories 2-6 all have this line:

[code]

As far as I can tell [-10, 10] is also the range of all the of the y-axes in the whole sim. If this is the case, why not something like

[code]

in order to show that this range corresponds to the range of the y axis?

[2014-06-30 16:25] aaronsamuel137 opened #26 "review changes"
I'm going to make some minor code changes. I created this issue so they will be aggregated here for ease of review.

[2014-06-30 16:36] aaronsamuel137 opened #27 "Should EquationBoxNode inherit from Rectangle instead of Node?"
Looks like this node is just a bunch of stuff in a rectangle. Any reason it inherits from Node instead of Rectangle?

[2014-06-30 17:52] aaronsamuel137 opened #28 "SlopeIntercept and PointSlope ParameterRanges directory"
SlopeInterceptParameterRange (currently in the slopeintercept directory) is used in SlopeInterceptGraphNode in the linegame directory. The same is true of the use of PointSlopeParameterRange in PointSlopeGraphNode.

Should these be be moved to the common directory because they are used across different screens?

I don't feel strongly about this since I could see the logic in putting them in either

[2014-06-30 20:18] #24 closed, assigned to pixelzoom

[2014-06-30 20:26] #25 closed, assigned to pixelzoom

[2014-06-30 21:14] #26 closed, assigned to pixelzoom

[2014-06-30 21:20] #27 closed, assigned to pixelzoom

[2014-06-30 21:25] #28 closed, assigned to pixelzoom

[2014-06-30 21:38] #23 closed, assigned to pixelzoom

[2014-06-30 22:26] #22 closed, assigned to pixelzoom

[2014-06-30 22:34] #21 closed, assigned to pixelzoom

[2014-06-30 22:34] #8 closed, assigned to aaronsamuel137

[2014-07-01 00:27] pixelzoom opened #29 "'Start Over' button in game"
Feedback from Trish on 1.0.0-dev.14:

@ariel-phet replied:

@krhensberry replied:

This is a little different than the "return to level selection screen” icon (like we have in Build a Fraction, for example), which saves all the work you’ve done and just takes you out of the game — but when you come back everything in that level that you’ve completed is still there.

My understanding is that the de

[2014-07-01 13:55] pixelzoom opened #30 "equation on line overlaps labels on graph axes"
@krhensberry reported:

Maybe it’s a known issue, but sometimes the equation of the line that is labeled on the graph overlaps with the numbers on the x-axis, making the equation hard to read. I know the equations have been tricky for you, but I wonder if there’s a way to move the bounds of the equation more toward the center of the graph (more toward the y-intercept) so there is no overlap…though

[2014-07-01 14:07] pixelzoom opened #31 "point tools in the game are stacked vertically"
@krhensberry reported this for 1.0.0-dev.15:

The point tools in the game are stacked vertically instead of side-by-side like they are on the other screens. I’m not sure if this was an intentional decision and I missed it (possible) or if this is a bug. It looks strange to me since the other three screens place the tools horizontally under the graph, and here you have one of them on the graph. Wha

[2014-07-01 14:09] #31 closed, assigned to nobody

[2014-07-01 15:40] #30 closed, assigned to krhensberry

[2014-07-07 20:58] #29 closed, assigned to pixelzoom

[2014-07-08 20:29] bryo5363 opened #32 "Level selection buttons can remain pressed in and/or unusable"
Same issue as phetsims/fraction-matcher#70

Steps to reproduce
-Open the game mode
-Click the upper left corner of a level and hold
-The level button will oscillate
-Depending on when you let go, the level will open and the button will remain pressed or the level won't open and the button will become unusable

[2014-07-09 18:29] krhensberry opened #33 "Overlapping equations hard to read"
When using the y=x or y=-x features (green lines), they are in front of the black line created by the student. Sometimes the equations overlap, making the student's equation hard to read. Pedagogically, I'd prefer the student's black line to be brought forward so that it is more easily read-able, with the green line being the one that is in the back. This is not a platform-specific problem.

So fo

[2014-07-10 16:04] bryo5363 opened #34 "Holding arrows down in Safari 6.0 cause simulation to freeze"
I don't think this is a simulation specific issue; I have noticed this on a couple of other simulations. Holding down the arrows to either change the intercepts or slope will cause the simulation to freeze.

[2014-07-10 16:37] amanda-phet opened #35 "frown face"
We had a discussion at some point that in math sim games, when a student gets an incorrect answer, we'd like a grimace face to display rather than a frown face. Can this be changed to look more like the arithmetic grimace?

![screen shot 2014-07-10 at 10 36 49 am 2](https://cloud.githubusercontent.com/assets/7852916/3541869/757fd72c-0850-11e4-8891-99608843b417.png)

[2014-07-10 17:07] krhensberry opened #36 "x=a (undefined slope) equation needs spacing around equal sign"
In general, when we type math equations, there is some spacing around the equal sign. In this sim, when we have undefined slopes, there are no such spaces in  the equation displayed in the graph. (x = 0 vs x=0). I feel like it makes the equation look cramped.

![screen shot 2014-07-10 at 11 03 41 am](https://cloud.githubusercontent.com/assets/5086248/3542201/61a79aba-0854-11e4-84ec-846b434bd4a4.pn

[2014-07-10 17:22] krhensberry opened #37 "some game challenges cause interactive point to go off-graph"
I was playing level 2, and was given the challenge to graph y = x + 10 (y-int was set, slope had to be fixed by the student).

Because of the way this type of graph looks by default (black point on the y-intercept, blue point at one unit up, one unit right from there), the blue point was off the graph.
![screen shot 2014-07-10 at 11 09 29 am](https://cloud.githubusercontent.com/assets/5086248/3542

[2014-07-10 17:37] bryo5363 opened #38 "Game screen looks different for iPad"
Operating System: iPad 7.1.1

Browser: Safari 7

Problem description: The game screen appears differently than on a computer

Steps to reproduce:

Severity:

Screenshots:
![image](https://cloud.githubusercontent.com/assets/7717368/3542587/da279162-0858-11e4-8f74-748688545208.jpg)

Troubleshooting information (do not edit):
Name: Graphing Lines
URL: http://www.colorado.edu/physics/phet/dev/html/gra

[2014-07-10 17:53] bryo5363 opened #39 "Holding down the arrows on iPad causes them to be locked down"
Test device: iPad

Operating System: iOS 7.1.1

Browser: Safari 7

Problem description: Holding down an arrow causes it to be locked down; essentially it breaks the simulation

Steps to reproduce:
-Hold down arrow until it maxes out (i.e. until the rise of the slope is maximized)
-Slide a point to any position below the maximum. The point will automatically slide up to the maximum point.

Severity

[2014-07-10 18:15] #36 closed, assigned to nobody

[2014-07-10 18:22] #33 closed, assigned to krhensberry

[2014-07-11 15:36] #38 closed, assigned to nobody

[2014-07-11 16:09] #35 closed, assigned to pixelzoom

[2014-07-11 16:23] #32 closed, assigned to nobody

[2014-07-14 16:55] #39 closed, assigned to bryo5363

[2014-07-14 23:05] amanda-phet opened #40 "sound doesn't work in Safari on iPad2 (but works in Chrome)"
Test device: iPad 2
Operating System: iOS 7.1.2
Browser: Safari
Problem description: the sound didn't work in safari.

Troubleshooting information
Name: Graphing Lines
URL: http://www.colorado.edu/physics/phet/dev/html/graphing-lines/1.0.0-dev.17/graphing-lines_en.html
Version: 1.0.0-dev.17 (also 1.0.0-rc.1)
Features missing: fullscreen
User Agent: Mozilla/5.0 (iPad; CPU OS 7_1_2 like Mac OS X) Ap

[2014-07-15 21:09] #37 closed, assigned to pixelzoom

[2014-07-16 19:39] #34 closed, assigned to bryo5363

[2014-07-17 17:57] bryo5363 opened #41 "Question- Should there be a way to save level progress?"
I have noticed in other sims that have a game mode like fraction matcher have the option to save level progress while switching from different levels. The game portion of this sim only has a "Start Over" option that deletes the player's progress.

Is this intentional of the simulation? Just wondering

[2014-07-17 18:09] #41 closed, assigned to nobody

[2014-07-17 18:19] krhensberry opened #42 "sim delays after pause in play"
Sometimes, if I take a pause in playing with the sim (not the game screen, as far as I've seen), the sim freezes up for a few moments when I come back to it. After clicking around several times, it starts working again. Otherwise, performance is fast. I have only seen this in Safari so far, but am checking firefox and chrome more to see if I can replicate within those browsers.

Report a Problem

[2014-07-22 21:40] #40 closed, assigned to pixelzoom

[2014-07-22 22:00] #42 closed, assigned to pixelzoom

[2015-02-11 17:25] amanda-phet opened #43 "add a checkbox to remove gridlines"
Area Builder currently has a checkbox to add/remove gridlines.
![screen shot 2015-02-11 at 10 23 45 am](https://cloud.githubusercontent.com/assets/7852916/6152163/36aa0310-b1d8-11e4-8e57-0d034323a547.png)

I was thinking about Graphing Lines and thought that could be a nice feature. It is important to think of slope not only in terms of "rise over run" but also the steepness of a line. If the grid

[2015-02-11 17:49] pixelzoom commented on #43
The control for lines currently looks like this:

![screenshot_203](https://cloud.githubusercontent.com/assets/3046552/6152555/56ac5d72-b1db-11e4-8452-fb9c82f6b8a1.png)

So I think it would be a little odd to have a grid control that is very different - uses an icon instead of words, and is "show" instead of "hide".   If we decide to add the proposed feature, then we should make sure that it coexi

[2015-02-11 17:50] amanda-phet commented on #43
That makes sense to me.

[2015-02-11 18:03] patricialoeblein commented on #43
I also  think being able to discuss slope qualitatively would be helpful. I can’t get logged into github right now, but I wanted to confirm the usefulness. I am not commenting on how it would impact the sim look or feel because I think Amanda and the team will keep on top of that.

Trish Loeblein
Patricia.Loeblein@colorado.edu<mailto:Patricia.Loeblein@colorado.edu>
PhET K12 Specialist http://phet.

[2015-02-11 18:59] pixelzoom commented on #43
Hi Trish,

Thanks for the input.

I noticed that you posted this email into a GitHub comment.  I edited that comment, and removed the contact info (email signature) that you pasted in.  GitHub is public, so I didn’t think you’d appreciate having your email address picked up by a web crawler.

Chris

[2015-02-12 18:55] pixelzoom opened #44 "built version fails to run"
Looks like a problem with multilink, running with 'master' branches.

![screenshot_454](https://cloud.githubusercontent.com/assets/3046552/6174738/fda384d4-b2ad-11e4-82da-5634093c0141.png)

[2015-02-12 19:20] pixelzoom commented on #44
This was broken in https://github.com/phetsims/axon/commit/aa5bfb9e96d9e3ded8308d3dfc036ae99d49e540, by failing to import Multilink properly.

[2015-02-12 19:21] pixelzoom commented on #44
This was broken in https://github.com/phetsims/axon/commit/aa5bfb9e96d9e3ded8308d3dfc036ae99d49e540, by failing to import Multilink properly. It affects all sims that use PropertySet.multilink and lazyMultilink.

[2015-02-13 20:51] #44 closed

[2015-03-24 21:42] pixelzoom opened #45 "replace Line.getGreatestCommonDivisor with dot.Util.gcd"
This was neglected during the Great Fraction Migration of 2014 (see phetsims/phetcommon#19).

[2015-03-24 21:45] #45 closed

[2015-05-22 20:39] pixelzoom opened #46 "i18n layout issues"
This sim has some i18n layout issues that are apparent with ?stringTest=double, see screenshot.

![screenshot_525](https://cloud.githubusercontent.com/assets/3046552/7779254/436fb7b4-0090-11e5-80c1-44d6d0211669.png)

[2015-05-26 17:02] pixelzoom commented on #46
Work on this after https://github.com/phetsims/scenery/issues/428 is completed.

[2015-07-07 23:34] pixelzoom commented on #46
Tested with stringTest=double and stringTest=X. All layout seems to be fine. Closing.

[2015-07-07 23:34] #46 closed

[2015-07-24 16:46] ariel-phet opened #47 "Game flow: if user interacts, "Try Again" not required"
We have found in most games that it is a more seamless user experience that if a user gets a question wrong, and then goes to interact with the game it should have the same affect as pressing the "Try Again" button. This paradigm shift happened after the graphing lines game was developed, and it would be good to institute when we redeploy.

[2015-08-03 15:21] pixelzoom commented on #47
Not clear from the description how this is supposed to work. Please provide a concrete example.

[2015-08-05 04:51] ariel-phet commented on #47
See Area Builder....if you press the "check" button, and then the "try again" button is displayed, you can press the "try again" button OR you can just start manipulating pieces, either action produces the same result (the "try again" button goes to a "check" button)

[2015-08-05 17:50] pixelzoom commented on #47
@ariel-phet Should a similar issue be created for balancing-chemical-equations and reactants-products-and-leftovers?

[2015-08-05 17:53] pixelzoom commented on #47
@jbphet Can you please comment on how you've implemented this in Area Builder? Or point me to the relevant code? (Guessing you're using some sort of full-screen transparent overlay).

[2015-08-05 17:56] pixelzoom commented on #47
Ah... it's not an overlay in Area Builder, because the button changes only when move a piece or click on the calculator.

[2015-08-05 18:08] ariel-phet commented on #47
@pixelzoom - yes please create similar issues for BCE and RPAL...but they can be open questions for the design team. Graphing lines is a definite, but we should discuss those other two sims with the chem team.

[2015-08-05 18:13] pixelzoom commented on #47
Hmm... This approach could work in RPAL if the spinners remain active.  But it's not going to work at all in BCE without significant redesign.  I'll create issues where we can discuss.

[2015-08-05 18:34] pixelzoom commented on #47
Unassigning. No plans to work on this until this sim is revisited for publication.

[2015-08-25 22:47] pixelzoom commented on #43
Assigning this to @ariel-phet since he's listed as "lead designer".  This is a new feature request.  We need to decide whether to accept it, and (if so) do the design work.

[2015-08-25 22:48] pixelzoom commented on #47
@ariel-phet Do you want me proceed with implementing this? Or is there some design work that needs to happen first?

[2015-08-28 15:54] ariel-phet commented on #47
@pixelzoom I don't believe any design work is necessary, do you perceive any need for design work?

[2015-08-28 16:25] pixelzoom commented on #47
I don't believe any design work is necessary, so I'll proceed.

[2015-08-28 16:26] ariel-phet commented on #47
:boom:

[2015-08-28 17:01] pixelzoom commented on #47
OK... Do I do have a design question. In Area Builder, you have to interact with specific things to make the "Try Again" button disappear. For example, see screenshot below from Level 1. Moving any blue square makes "Try Again" disappear. Toggling check boxes or clicking on the eraser button does not make "Try Again" disappear.

So 2 questions:

(1) Is the current behavior of Area Build as desired

[2015-08-28 17:09] ariel-phet commented on #47
Assigning to @amanda-phet since she designed area builder and may have some good insights as to how to incorporate this game flow into graphing lines.

[2015-08-28 17:13] pixelzoom commented on #47
I've noted the issue with the eraser button in Area Builder in https://github.com/phetsims/area-builder/issues/80.

[2015-08-28 18:37] pixelzoom commented on #47
I discussed the Area Builder game with @jbphet.  The intent was to make the "Try Again" button disappear when the user did anything to change their answer.  @amanda-phet is that also appropriate for this sim?  If so, then changing spinners or moving points on the graph will make the "Try Again" button disappear, but moving point tools will not.

[2015-08-28 20:06] ariel-phet commented on #43
@pixelzoom for the moment, please do as you suggest and just make a checkbox that says "Hide grid" and put it below "Hide lines"

[2015-08-28 20:18] pixelzoom commented on #43
For 2 of 3 screens that will have this control (Slope-Intercept, Point-Slope), adding this control will cause the control panel to extend down below the top of the Reset All button.  See screenshot below.  This has i18n ramifications; that entire control panel's width will now be severely limited because (a) the Reset All button will be to the right of it, and (b) we are center-aligning the 2 cont

[2015-08-28 20:20] pixelzoom commented on #43
Another option...

(4) If the bottom panel's width exceeds the width of the top panel, then right align the panels and allow the bottom panel to grow to the left.  This will require relatively complicated layout code.

[2015-08-28 20:23] pixelzoom commented on #43
Actually (4) won't work, because the top panel's right edge may past the left edge of the Reset All button.

(5) If maintaining center-aligned panels would cause the bottom panel to overlap the "Reset All" button, then use an alternate layout strategy. Center the top panel in the space between the graph and the right edge of the screen. Center the bottom panel in the space between the graph and th

[2015-08-28 20:24] pixelzoom commented on #43
For 2 of 3 screens that will have this control (Slope-Intercept, Point-Slope), adding this control will cause the control panel to extend down below the top of the Reset All button.  See screenshot below.  This has i18n ramifications; that entire control panel's width will now be severely limited because (a) the Reset All button will be to the right of it, and (b) we are center-aligning the 2 cont

[2015-08-28 20:25] pixelzoom commented on #43
@ariel-phet Is option (3) is agreeable?

[2015-08-28 20:54] pixelzoom commented on #43
I've added the check box, still need to address the i18n layout.  See first screenshot below of what it looks like with "stringTest=double".  So perhaps options (2) is sufficient, which would require no layout changes.

![screenshot_588](https://cloud.githubusercontent.com/assets/3046552/9556759/71a281d8-4d94-11e5-8522-c13679164ee3.png)

[2015-08-28 20:57] pixelzoom commented on #43
@ariel-phet One additional question... Are you OK with the vertical spacing after adding the "Hide grid" check box? The spacing is the same between each component is the same.  But some components are taller than others, so the space between the actual rectangular check boxes is different.  The vertical layout (VBox) does not support varying the amount of space between components, so I would need

[2015-08-28 21:31] amanda-phet commented on #47
If the user interacts with the graph or spinner, the "try again" button disappears and the "check" button will be in its place. I agree that moving the point tools does not have this effect since it would not change the answer in any way.

[2015-08-28 21:57] amanda-phet commented on #43
You put a lot of thought in to the design choices and I think option (2) looks really good. I know you asked @ariel-phet about the spacing but I will throw it out there that the spacing looks very normal to me. It is typical to expect spacing like that when different rows have different heights.

[2015-08-30 19:58] pixelzoom commented on #43
Thanks for reviewing @amanda-phet!  I'm OK with the current look, and how it handles i18n.  @ariel-phet if you're OK with this this too, please close this issue.  Otherwise please specify what additional work you'd like me to do.

Here's a dev version with this feature, if you'd like to test-drive it:

http://www.colorado.edu/physics/phet/dev/html/graphing-lines/1.1.0-dev.1/graphing-lines_en.html

[2015-08-30 19:59] pixelzoom commented on #47
Thanks @amanda-phet, I'll proceed with implementing this.

[2015-08-31 04:09] ariel-phet commented on #43
Looks good to me.Closing

[2015-08-31 04:09] #43 closed

[2015-08-31 18:45] pixelzoom commented on #47
This was a little more complicated than https://github.com/phetsims/reactants-products-and-leftovers/issues/37, because if there are >2 points, then the user's guess may not be a valid line. This was previously indicated by setting the 'guess' property to null - but this didn't provide a way to detect that the user's guess had changed.  So I replaced null with type NotALine, so that we have a new

[2015-08-31 19:17] pixelzoom opened #48 "add visibility annotations"
Add @public, @protected or @private annotations to anything that's publicly visible.
See https://github.com/phetsims/tasks/issues/307.

[2015-08-31 20:38] amanda-phet commented on #47
After getting this type of challenge wrong two times, I think feedback that "your line... is not a line!" is pretty valuable. When I get it wrong two times, and make sure the 3 points are not a line, it says my line is "y = x" which is not correct.

So, if we change the properties as you say above, we still need to give some feedback at the end if the 3 points do not make a line. If they do make a

[2015-08-31 21:30] pixelzoom opened #49 "incorrect feedback for "Place the Points" challenge"
Introduced by changes in #47, and reported by @amanda-phet in https://github.com/phetsims/graphing-lines/issues/47#issuecomment-136492590. For the "Plot the Points" challenge type:

[2015-08-31 21:31] pixelzoom commented on #47
@amanda-phet
It sounds like you are reporting a new problem introduced by changing the game behavior. I will address that in a new issue in https://github.com/phetsims/graphing-lines/issues/49.

How about this issue? Is the game flow now as desired?

[2015-08-31 21:41] amanda-phet commented on #47
Ah, I thought you wanted me to specifically look at the placing points challenges. The flow is definitely feeling good to me for all types of challenges. The placing points challenges are working as expected- if I change a point on the graph while the try again button is visible, the sim responds appropriately by letting me try again.

[2015-08-31 21:42] pixelzoom commented on #49
Fixed in this dev version:
http://www.colorado.edu/physics/phet/dev/html/graphing-lines/1.1.0-dev.3/graphing-lines_en.html

@amanda-phet please verify.

[2015-08-31 21:47] pixelzoom commented on #47
OK, great. Then I'm going to close this issue.  The issue with "Place The Points" is in #49, and has also been resolved.

[2015-08-31 21:47] #47 closed

[2015-08-31 21:53] amanda-phet commented on #49
I'm not sure what the arrangement needs to be, but occasionally I get this feedback after getting a challenge wrong one time:
![screen shot 2015-08-31 at 3 51 32 pm](https://cloud.githubusercontent.com/assets/7852916/9591391/482d4250-4ff8-11e5-9acf-9ebc23170706.png)

and then feedback that says my line is not a line, but there is a line through 2 of the points:
![screen shot 2015-08-31 at 3 51 46

[2015-08-31 21:54] amanda-phet commented on #49
OK, it seems to happen when the points are in an upright triangle. These two examples have black lines that don't even make sense based on the points.

![screen shot 2015-08-31 at 3 53 40 pm](https://cloud.githubusercontent.com/assets/7852916/9591433/8f0f5d52-4ff8-11e5-8536-760e9d84a23c.png)

![screen shot 2015-08-31 at 3 53 59 pm](https://cloud.githubusercontent.com/assets/7852916/9591437/927736a

[2015-08-31 21:58] pixelzoom commented on #49
OK, thanks, I'll investigate.  Really wishing we hadn't changed the game behavior in #47, because that violated a whole bunch of assumption for this sim that are proving difficult to track down.

[2015-08-31 22:21] pixelzoom commented on #49
@amanda-phet OK, I think I've squashed all of the problems that this introduced. Try this dev version. And thanks for your thoroughness in discovering this issue.

 http://www.colorado.edu/physics/phet/dev/html/graphing-lines/1.1.0-dev.4/graphing-lines_en.html

[2015-08-31 23:10] amanda-phet commented on #49
This issue seems to be resolved but I found another one :( I will open a new issue and close this one.

[2015-08-31 23:10] #49 closed

[2015-08-31 23:15] amanda-phet commented on #49
Nevermind! I thought I found a new bug but it is in the original sim (and since I was only on the team for the tail end of design, I hadn't noticed this detail).

[2015-08-31 23:18] pixelzoom commented on #49
Whew :)

And thanks!

[2015-08-31 23:43] #48 closed

[2015-10-30 17:39] pixelzoom opened #50 "add QA credits"
@ariel-phet This sim currently has no QA credits. Please specify the QA credits, ordered alphabetically by last name.

[2015-10-30 19:16] ariel-phet commented on #50
Steele Dalton, Bryce Griebenow, Elise Morgan, Oliver Orejola, Benjamin Roberts, Bryan Yoelin

[2015-10-30 21:11] #50 closed

[2015-11-03 18:56] amanda-phet commented on #50
@ariel-phet I also did QA but since I'm listed in the team I think I recall the rule being you wouldn't also be listed in QA. If that's the case, Bryce should not be listed in QA (he is already on the team AND interviews).

[2015-11-03 18:58] ariel-phet commented on #50
@amanda-phet different Bryce....this is our new student tester Bryce.

[2015-11-03 19:00] amanda-phet commented on #50
Oh sorry! I saw the last name started with G and just didn't notice the rest... oops!

[2015-11-11 00:25] pixelzoom opened #51 "add namespace"
See https://github.com/phetsims/tasks/issues/378

[2015-11-11 22:38] #51 closed

[2015-11-11 23:00] pixelzoom commented on #51
Note that this required renaming a couple of files. The same file names were used in different subdirectories, but filenames must be unique within a namespace.

[2015-11-19 22:29] BryceAG opened #52 "Timer covered by stringTest=double"
Test device:
Bates, Turing

Operating System:
Windows 7 64-bit, OS X 10.9.5

Browser:
FIrefox 42.0, IE 11.0.9600.17843, Chrome 46.0.2490.86 m, Safari 9.0(9537.86.1.56.2)

Problem description:
With stringTest=double and stringTest=long, if the timer is used for the line games, it will be partially covered by the start over button.

Steps to reproduce:
Using either of the string Tests, go to the lin

[2015-11-19 23:42] brroberts1231 opened #53 "Grid shown while hide grid checked"
Test device: Schrodinger

Operating System: Win 8

Browser: Firefox, Chrome, and IE11

Problem description: If the check box for hide grid is checked and then the reset button is clicked, the sim will reset with grid visible and hide grid still checked.

Steps to reproduce: In any of the 3 different sections (slope, slope-intercept,or point-slope), check the hide grid box, then press the reset but

[2015-11-19 23:51] BryceAG opened #54 "some saved lines cannot be erased"
Test device:
Bates, Turing

Operating System:
Windows 7 64-bit, OS X 10.9.5

Browser:
FIrefox 42.0, IE 11.0.9600.17843, Chrome 46.0.2490.86 m, Safari 9.0(9537.86.1.56.2)

Problem description:
If a specific line is saved in point slope, it will not disappear when reset or when erase line is pressed. I have tried multiple lines, but it appears to be just this line. The screenshot will show which lin

[2015-11-20 14:37] pixelzoom commented on #52
ScoreboardBar (with timer) is a vegas component. I'll check it out.

[2015-11-20 14:38] pixelzoom commented on #53
Sounds like the view Property for "Hide grid" is not being reset.

[2015-11-20 16:51] orejolaphet commented on #54
Also present in OS X 10.11.0 Safari 9.0 (11601.1.56)

[2015-11-20 16:52] orejolaphet commented on #53
Also present in OS X 10.11.0 Safari 9.0 (11601.1.56)

[2015-11-20 18:07] pixelzoom commented on #53
Associated with RC test https://github.com/phetsims/tasks/issues/374.

[2015-11-20 18:07] pixelzoom commented on #53
Fix in master and 1.1 branch. This was a trivial fix, sim-specific code, does not necessitate another RC test.

[2015-11-20 18:07] #53 closed

[2015-11-20 18:14] pixelzoom commented on #54
Reproduced, not platform specific. Really weird, doesn't occur for all lines. "Reset All" does not erase the saved lines either.

[2015-11-20 18:19] pixelzoom commented on #54
I can only reproduce this when the slope is an integer multiple of `-(7/9)`. Eg, `-7/9`, `7/-9`, `-14/18`, `14/-18`. Bizarre.

[2015-11-20 18:21] pixelzoom commented on #54
Not specific to the "Point Slope" screen, occurs in other screens when using similar slope values.

[2015-11-20 18:25] pixelzoom commented on #54
Reproduced, not platform specific. Additional notes:

• Not platform specific.
• Not screen specific; reproducing on other screens.
• Only occurs when the slope is an integer multiple of `-(7/9)`. Eg, `-7/9`, `7/-9`, `-14/18`, `14/-18`.
• "Reset All" does not erase the problem lines either.
• Other saved lines continue to be saved/erased/reset correctly.

[2015-11-20 20:57] BryceAG opened #55 "need to limit width of "Slope" string"
Test device:
Bates, Turing

Operating System:
Windows 7 64-bit, OS X 10.9.5

Browser:
FIrefox 42.0, IE 11.0.9600.17843, Chrome 46.0.2490.86 m, Safari 9.0(9537.86.1.56.2)

Problem description:
With the long test, the text box to the right gets too long and is covered by the graph. I realize that this is mostly due to the fact that the variables m, x, and y are also replaced by the long string, and

[2015-11-20 21:22] pixelzoom commented on #55
Yep, that instance of "slope" would be a problem, need to set `maxWidth`.

[2015-11-25 17:09] pixelzoom commented on #55
Related to https://github.com/phetsims/tasks/issues/374.

[2015-11-25 17:09] pixelzoom commented on #54
Related to https://github.com/phetsims/tasks/issues/374.

[2015-11-25 17:10] pixelzoom commented on #52
Related to https://github.com/phetsims/tasks/issues/374.

[2015-11-25 17:23] pixelzoom commented on #55
Good catch @BryceAG.

Fixed in master and 1.1 branch. Screenshot below shows the more practical case of stringTest=double. This was a 1-line fix, so does not necessitate another RC.

![screenshot_95](https://cloud.githubusercontent.com/assets/3046552/11404315/7a1da6d4-935e-11e5-8bab-cf5144b2c536.png)

[2015-11-25 17:23] #55 closed

[2015-11-25 17:24] pixelzoom commented on #55
Note that the string whose maxWidth is being limited is actually "Slope   m =".

[2015-11-25 17:48] pixelzoom commented on #52
ScoreboardBar looks OK with stringTest=long (screenshot below), but has problems with stringTest=double (screenshot above).  This is the culprit line:

`131 maxWidth: screenWidth - leftParentNode.maxWidth // constrain width for i18n`

![screenshot_96](https://cloud.githubusercontent.com/assets/3046552/11404942/fae51b8c-9361-11e5-887e-5c2ad82317d8.png)

[2015-11-25 17:54] pixelzoom commented on #52
Ah... The problem occurs when the timer is initially disabled, then enabled.  Since the timer is not visible, I'm guessing that it doesn't affect that initial scaling that results from maxWidth.

[2015-11-25 18:03] pixelzoom commented on #52
Fixed in scenery-phet master, screenshots below show stringTest=double and stringTest=long.  This was a trivial fix, so if there are no other common-code issues found, I may branch-and-patch scenery-phet.  Leaving this issues open until RC testing is completed, so I can decide how to proceed.

![screenshot_98](https://cloud.githubusercontent.com/assets/3046552/11405297/22163d42-9364-11e5-9795-bfeb

[2015-11-29 01:43] pixelzoom commented on #54
Saved lines are stored in `LineFormsModel.savedLines`, which is of type `{ObservableArray.<Line>}`. I have a hunch that this will turn out to be a bug in ObservableArray.

[2015-11-29 02:22] pixelzoom commented on #54
No problem found with ObservableArray.  This is a precision problem with determining whether 2 lines are the same. That algorithm returns true of 2 points are on both lines.  Here's the function (in `Line`) used to check whether a point is on a line:

[code]

For example with `Line[x1=1 y1=-3 x2=-6 y2=6 rise=9 run=-7 color=rgb( 160, 160, 160 )]`, the call to `solveX` returns -5.999999999999999 whe

[2015-11-29 02:32] pixelzoom commented on #54
Since ES5 lacks a Map data type, a less invasive fix is to use referential equality to remove lines.

In LineFormsGraphNode, change this:

[code]

to this:

[code]

So we're replacing the `line.same(...)` test with `line === ...`.  And note the added assertion to verify that a Node is actually found and removed.

[2015-11-29 02:43] pixelzoom commented on #54
Fix applied in master and 1.1 branch.  Here's a dev version built off of the 1.1 branch:

http://www.colorado.edu/physics/phet/dev/html/graphing-lines/1.1.0-dev.5/graphing-lines_en.html

@BryceAG please verify that this is fixed. If it checks out OK, this issue may be closed. (And good catch!)

[2015-11-29 03:16] pixelzoom commented on #54
@BryceAG Actually... after verifying, don't close this issue, please assign it back to me. I need to check whether this same issue can manifest itself in the Game, or other places where `Line.same` is used.

[2015-11-30 20:17] pixelzoom opened #56 "Game: correct answers are marked as incorrect for some slope values"
This issue was noticed while investigating #54.

`Line.same` is prone to floating point error (inherent in `@private Line.solveX`), and this results in correct answers being marked as incorrect in the Game.  This occurs only for specific slopes. For example, `-9/7` is one such slope, and can be demonstrated in Level 1 by changing `ChallengeFactory1` line 116 to this:

[code]

And here's the incorr

[2015-11-30 20:22] pixelzoom commented on #56
`Line.same` is used in all challenges (it appear is base type `Challenge.isCorrect`), and it's definitely a problem there, as demonstrated above.

`Line.same` is also used in `PointSlopeEquationNode` where it's used to compare a line to `y = x` and `y = -x`, then use those equation notations.  Testing shows that it's not a problem in this case.

`Line.onLinePoint` is used in `PlaceThePoint` challe

[2015-11-30 20:30] pixelzoom commented on #56
`Line.solveY` is apparently not really private. It's used in `PointTool.onLine`, and yield incorrect results when the point tool is placed on a line with (for example) slope `-9/7`.   For example, the point tool should "light up" in this example, since `(0,7)` is indeed on the line.

![screenshot_83](https://cloud.githubusercontent.com/assets/3046552/11483608/864f1ba2-9766-11e5-9cf1-2809c9e1b197.p

[2015-11-30 23:34] pixelzoom commented on #54
The floating point errors in `Line` functions do present some problems in the Game. Tracking that issue in  #56.

[2015-12-01 16:20] pixelzoom commented on #56
@ariel-phet Can you provide input in the priority of this issues, and whether it should be resolved before republishing? It's not a new problem, present in the version currently on the PhET website.  It may take awhile to resolve, and I've been getting pressure to make progress on new sims.

[2015-12-01 16:21] pixelzoom commented on #56
Related to phetsims/tasks#374.

[2015-12-01 16:40] ariel-phet commented on #56
Oofta...that seems important to resolve doesn't it? Showing a correct answer incorrect is pretty undesirable. So yes, I think this should be resolved before republishing, however, please work on more in the background, and continue to make progress on new sims. I would describe priority as "medium-low" - sort of a sauce simmering priority.

[2015-12-03 18:04] pixelzoom commented on #56
In the above commits, I replaced some code in PointTool that was essentially a duplicate of Line.onLinePoint. Tested point tool in all screens with various slopes, including 0 and undefined.

[2015-12-03 18:31] pixelzoom commented on #56
In PlaceThePoint challenges, the point tools are not calling `Line.onLinePoint`. Need to investigate why.

[2015-12-03 20:19] pixelzoom commented on #56
Issue resolved in above commits. This can be spot tested on a couple of platforms in a new RC version.

[2015-12-03 20:19] #56 closed

[2015-12-03 20:20] pixelzoom commented on #54
I'm going to close this. It will be verified by spot testing a new RC version, in conjunction with #56 and other issues specific to 1.1.0-rc.1.

[2015-12-03 20:20] #54 closed

[2015-12-03 20:21] pixelzoom commented on #52
Since no other common repo issues have been identified in 1.1.0-rc.1, I'm going to branch-and-patch vegas.

[2015-12-03 20:41] pixelzoom commented on #52
vegas has been branched and patched. The branch name is 'graphing-lines-1.1'.

This issue can be verified by spot testing the next RC candidate.

Closing.

[2015-12-03 21:16] BryceAG commented on #54
Sorry for the delay in testing. It does look like it is fixed in the new dev version.

[2015-12-03 22:57] elisemorgan opened #57 "String Tests"
Test device: Personal Mac

Operating System: OS X 10.10.5

Browser: Safari 9.0.1 (10601.2.7.2)

Problem description: Long and RTL string Tests

Steps to reproduce:

Severity:

Screenshots:
Long:
![screen shot 2015-12-03 at 3 53 56 pm](https://cloud.githubusercontent.com/assets/12610678/11576767/60969864-99d6-11e5-9009-469aea45125e.jpg)
![screen shot 2015-12-03 at 3 53 46 pm](https://cloud.githubus

[2015-12-03 22:58] elisemorgan commented on #57
Ah, you already know this. oops

[2015-12-03 22:58] #57 closed

[2015-12-04 02:33] pixelzoom commented on #54
Thanks @BryceAG.

[2015-12-04 02:39] pixelzoom commented on #57
Yep, but thanks for reporting anyway.  The overlap in the RTL test is not really relevant here because the mathematical symbols (x, y, m,...) would not be this long.

[2015-12-04 20:24] BryceAG commented on #52
This issue is still present in the new RC test:
![image](https://cloud.githubusercontent.com/assets/15327201/11600483/2d9cc190-9a8a-11e5-9f06-caecf57ae31d.png)

Reopening

[2015-12-04 20:26] BryceAG commented on #52
Tested on windows 7, Bates. Both Firefox, Chrome, and Internet Explorer.

[2015-12-04 20:28] pixelzoom commented on #52
Ah crap.  The patched branch didn't get into the build, and I tested with stringTest=long (which looks ok).  Please pause testing while I regenerate the RC.

[2015-12-04 20:41] pixelzoom commented on #52
Sorry for the hassle Bryce.  Our recent decision to branch-and-patch common repositories (like vegas, which contains the Scoreboard) doesn't work too well with our standard RC build process, and issue which I'll bring up at developer meeting.

So... Please try it again:

http://www.colorado.edu/physics/phet/dev/html/graphing-lines/1.1.0-rc.2/graphing-lines_en.html?stringTest=double

Here's what I

[2015-12-04 20:43] pixelzoom commented on #52
@BryceAG You may want to clear your browser cache before testing, in case your browser has the previous (broken) version cached.

[2015-12-04 20:58] BryceAG commented on #52
The issue has been fixed.

Closing

[2015-12-04 20:58] #52 closed

[2015-12-07 18:30] pixelzoom opened #58 "remaining 1.1.0 redeploy items"
**Design/Admin**

- [x] Rosetta test (Opening sim to trusted translators for beta)
- [x] Check teacher tips are up to date

[2015-12-08 05:12] ariel-phet commented on #58
@amanda-phet - I took a quick peek at the teacher tips, for some reason the screenshots seem really low res. Perhaps we should update (or as a student worker to update)?

[2015-12-08 20:17] amanda-phet commented on #58
I recently updated a bunch of teacher tips and this happened to them all. It's on my list to fix and will do it soon.

[2015-12-11 20:08] amanda-phet commented on #58
The teacher tips have been updated. Can I close this?

[2015-12-11 23:07] ariel-phet commented on #58
Yes, thank you! Closing!

[2015-12-11 23:07] #58 closed

[2016-01-15 18:04] jbphet opened #59 "the horizontal line in the fraction on the tool bar isn't quite level"
I noticed this when looking around at the math fonts that we've used in the past.  On the current master version of Graphing Lines, and also in the currently published version (v1.1.0), the little separator line on one of the fractions isn't quite level.  Here is a screenshot:

![graphing-lines-non-level-line](https://cloud.githubusercontent.com/assets/3082831/12360866/b57d2858-bb77-11e5-908f-c5ce

[2016-01-15 18:15] pixelzoom commented on #59
Browser and OS?

[2016-01-15 18:17] ariel-phet commented on #59
I am seeing this issue on Chrome, FF, and IE11 on Win 7

[2016-01-15 18:18] pixelzoom commented on #59
Reproduced on Mac OS 10.11.2 with Chrome latest.  The horizontal lines in the interactive version of this equation also look off:

![screenshot_108](https://cloud.githubusercontent.com/assets/3046552/12361142/a2fc00bc-bb79-11e5-90aa-fcc7e90b8d8e.png)

[2016-01-15 18:18] ariel-phet commented on #59
yes, but oddly, only on the slope screen

[2016-01-15 18:19] ariel-phet commented on #59
Notice crisp on slope-intercept screen

![capture](https://cloud.githubusercontent.com/assets/4051174/12361171/d0d92dc0-bb79-11e5-9f57-c53843a33a11.PNG)

[2016-01-15 18:21] pixelzoom commented on #59
It's a bug specific to the Slope screen, identified and trivial to fix. Fix will be pushed in a few minutes.

[2016-01-15 18:28] pixelzoom commented on #59
Fixed and pushed to master and 1.1 branches.  Assigned to @jbphet to verify in master.

I see no reason to publish a maintenance release for this. @ariel-phet do you agree?

[2016-01-15 18:28] pixelzoom commented on #59
Screenshot showing the fix:

![screenshot_109](https://cloud.githubusercontent.com/assets/3046552/12361400/1fae7972-bb7b-11e5-9024-c9c6f158df61.png)

[2016-01-15 18:42] ariel-phet commented on #59
@pixelzoom - why opposed to a maintenance release? I know it is minor, but it seems a little distasteful, and we probably won't be doing a true republish of this sim for awhile?

[2016-01-15 18:47] pixelzoom commented on #59
BLL 1.3.1 maintenance release took me ~2 hours due to incompatibility between chipper and build-server. That issue is not resolved, and applies to maintenance releases of this simulation.  So a maintenance release will require either (a) addressing the build issue or (b) doing a manual build and deploy of all translations.  If that's how you want me to spend my time, let me know.  Doesn't seem wor

[2016-01-15 18:49] ariel-phet commented on #59
@pixelzoom indeed...can we plan a maintenance release once that issue is addressed? (my be a nice test if we are confident in the fix)

[2016-01-15 18:52] pixelzoom commented on #59
Btw... I agree that it's a little distasteful, and I don't like having bugs in things that I'm responsible for. But (specifically) this issue has been present in the sim from day 1, and has never been reported. And (in general) publishing a maintenance release for trivial things like this is not something that most software organizations would do. Unless the product is clearly broken, you typicall

[2016-01-15 18:54] pixelzoom commented on #59
I agree that it's a little distasteful, and I don't like having flaws in things that I'm responsible for. But (specifically) this issue has been present in the sim from day 1, has never been reported, and has no effect on the ability to use the sim or its correctness. And (in general) publishing a maintenance release for trivial things like this is not something that most software organizations wo

[2016-01-15 18:57] pixelzoom commented on #59
Btw... If we're going to do a maintenance release for things like this, that demotivates me to fix issues like this immediately.  It would take me much less time to wait until I have a significant number of issues reported, and triage/fix them when we need to redeploy the sim for something significant.

[2016-01-15 18:59] ariel-phet commented on #59
Sure, removing assignee, can wait until redepoloy

[2016-01-15 19:08] pixelzoom commented on #59
Would still like to have @jbphet verify, so restoring assignee.

[2016-01-15 20:36] jbphet commented on #59
Changes look good, and I verified the behavior by loading the fixed version and flipping back and forth between it and the published version.  Definitely appears fixed.  Based on the discussion above, I'll leave this issue open but unassigned.

[2016-01-21 19:09] pixelzoom commented on #59
Labeling this as 'QA' so that it gets regression tested before publication.

[2016-02-23 19:13] phet-steele opened #60 "Edge stroke between "mx""
@pixelzoom there is a very apparent line between the "m" and "x" in the equation on the Slope-Intercept screen (immediately upon loading the sim). My hunch is that it is related to phetsims/trig-tour/issues/72.

![graphingstroke](https://cloud.githubusercontent.com/assets/5863899/13263361/7006ec64-da26-11e5-874e-c84e0e60c019.PNG)

I see this only in Edge (20+), both on the production version and @

[2016-02-24 23:30] phet-steele commented on #60
@jonathanolson this is successfully fixed in http://www.colorado.edu/physics/phet/dev/olsonjb/maintenance3/graphing-lines_en.html

[2016-02-28 17:03] pixelzoom commented on #60
Reopening.

I'd like to know how this was patched - it doesn't resemble any PhET process that I'm familiar with. Eg what's going on with the non-standard "maintenance2" location in the URL above?

I'm also a little concerned about how dramatic a change was required in StringUtils.format, see https://github.com/phetsims/phetcommon/commit/0cac0425531f1af7d45b30975a9b8a87a5d5be91. StringUtils.format

[2016-02-29 17:20] pixelzoom commented on #60
Discussed on Skype with @jonathanolson.  The problematic case is when there's no space between direction directives.  This can occur in StringUtils.format with a pattern like '{0}{1}', or in a strings that are loaded with the string plugin and explicitly concatenated with + operator.  Since the problem is not specific to MessageFormat patterns, we should consider handling this in scenery, rather t

[2016-02-29 17:22] #60 closed

[2016-02-29 18:15] pixelzoom commented on #59
This was published without verification in 1.1.1 when https://github.com/phetsims/yotta/issues/17 (Hewlett Google Analytics) was addressed.  I verified that this looks good in the latest version (1.1.2) that is on the PhET website.

Closing.

[2016-02-29 18:15] #59 closed

[2016-03-31 18:30] phet-steele opened #61 "Game should retain most recent score"
The level selection screen needs to be changed to display stars for the most recent score achieved in a level. Currently the sim will always display the high score. Not a high priority issue, no need for a maintenance release. It's okay to wait until next re-deploy. See https://github.com/phetsims/balancing-act/issues/63 for the original issue.

[2016-04-06 22:35] pixelzoom commented on #61
Deferred until phetsims/vegas#51 is resolved.

[2016-08-17 21:50] samreid opened #62 "Support reproducible random number sequences"
For https://github.com/phetsims/phet-io/issues/548 we would like to have reproducible random number sequences.  For this sim, it means using phet.joist.random instead of Math.random and _.shuffle.

[2016-08-17 21:51] samreid commented on #62
Fixed above, @pixelzoom can you please confirm the changes are complete and correct?

[2016-08-17 21:52] samreid commented on #62
You can test it the same way as described in https://github.com/phetsims/function-builder/issues/99

[2016-08-17 21:53] samreid commented on #62
Grunt is passing, sim is launching.

[2016-08-18 19:47] pixelzoom commented on #62
I inspected the commit, ran the sim, and didn't see any problem.  Closing.

[2016-08-18 19:47] #62 closed

[2016-08-25 23:17] pixelzoom opened #63 "sim relies on align:'right' default for Panels"
Related to https://github.com/phetsims/sun/issues/252, this sim relies on the old default of `align:'right'` for Panels.  Below are the stack traces for occurrences that need to be checked. These are the occurrences noted when loading the sim in requirejs mode. If the sim creates Panels dynamically, you should do further checking with fuzzMouse.

[code]

[2016-08-26 14:30] pixelzoom commented on #63
None of the above call sites use the `minWidth` option, so their behavior will be unaffected.  Closing.

[2016-08-26 14:30] #63 closed

[2016-11-20 02:57] samreid opened #64 ""Challenge 1 of 0""
While testing https://github.com/phetsims/scenery-phet/issues/75, I observed
![image](https://cloud.githubusercontent.com/assets/679486/20459987/3fe1719e-ae92-11e6-8e51-1f1adf161541.png)

which says "challenge 1 of 0"

[2016-11-21 18:44] pixelzoom commented on #64
@samreid master? published?

[2016-11-21 18:48] pixelzoom commented on #64
Never mind... master.

[2016-11-21 18:58] pixelzoom commented on #64
Fixed in above commit. This issue was introduced in phetsims/axom#71 on 9/29/16, conversion from PropertySet to Property.  Never made it into a published version.   @samreid Thanks for reporting.

Closing.

[2016-11-21 18:58] #64 closed

[2016-12-08 20:18] pixelzoom opened #65 "fix minus operator in general form of equations"
Noted during a dev meeting discussion of math libraries...

The minus operator in the "general form" of some equations looks lousy.  Instead of using a minus sign, we're using a dash ('-'), which is too short.  We should be using `\u2212`, the Unicode symbol for minus.

Specific cases, screenshots from Graphing Lines 1.1.8:

![screenshot_90](https://cloud.githubusercontent.com/assets/3046552/21026

[2016-12-08 20:20] pixelzoom commented on #65
Done, revised screenshots below, closing.

![screenshot_93](https://cloud.githubusercontent.com/assets/3046552/21026269/1cab7a56-bd49-11e6-8d7e-a9c25825258b.png)
![screenshot_92](https://cloud.githubusercontent.com/assets/3046552/21026272/1ea349ec-bd49-11e6-8895-fd32c00b97a6.png)

[2016-12-08 20:21] #65 closed

[2017-02-17 19:06] ariel-phet opened #66 "Estimate for a "slope-intercept only" version"
@pixelzoom I was asked yesterday by @kathy-phet to see what it would take to make a version of graphing lines that only included slope-intercept. Obviously publishing a version that removed the point-slope screen is not too challenging, but because the game mixes and matches various types of challenges, it was our impression that disentangling point-slope challenges from the game might be fairly i

[2017-02-17 19:14] pixelzoom commented on #66
@ariel-phet Please clarify what is desired here. Do you simply want a separate sim that has only the existing "Slope-Intercept" screen from the Graphing Lines sim? Or are there other changes?

[2017-02-17 19:15] ariel-phet commented on #66
@pixelzoom see above, sorry things got a little whacky when I created the issue. Happy to discuss over skype as well

[2017-02-17 19:37] pixelzoom commented on #66
Discussed with @ariel-phet on Skype. Would like an estimate sometime next week.

[2017-02-17 19:40] pixelzoom commented on #66
Development tasks include:

• set up new repository (graphing-slope-intercept? slope-intercept?)
• cherry pick screens from graphing-lines
• modify ChallengeFactory*.js (6 files, 1 for each level)

Design tasks:
• come up with additional sets of challenges to "choose 1" from

Testing tasks:
• regression test new sim
• regression test graphing-lines

[2017-02-21 21:08] pixelzoom commented on #61
phetsims/vegas#51 was resolved, so nothing blocking this.

[2017-02-21 21:20] pixelzoom commented on #61
Before working on this... Review the resolution of https://github.com/phetsims/balancing-act/issues/63, which I don't understand.

[2017-02-23 21:12] pixelzoom commented on #66
Co-assigning to @amanda-phet to come up with a name for this sim, so that I can create the corresponding repository.

[2017-02-26 01:16] pixelzoom opened #67 "disable showAnswers in production versions"
phetsims/joist#406 is a prerequisite to this.

In GLQueryParameters, set `showAnswers` to false if we're running a production version, so that answers can't be revealed.

[2017-03-02 20:17] pixelzoom commented on #66
Specification of the challenges for each game level is complicated, and the Java design document looks like it might be stale (not in-sync with the implementation).  I sent @amanda-phet a link to the code in GitHub repository:

https://github.com/phetsims/graphing-lines/tree/master/js/linegame/model
The files of interest are ChallengeFactory1.js through ChallengeFactory6.js,  where the number corr

[2017-03-02 20:18] pixelzoom commented on #66
Rather than complicate the ChallengeFactory*.js files with `if-then-else` logic, we should consider having a separate set of such factories for this new sim, even if that means some duplication of code.

[2017-03-03 14:35] pixelzoom commented on #66
Estimate for my time is 36 hours, with this breakdown:

• 2 hr - Set up new repository and basic sim skeleton with Slope, Point-Slope and Game screens.
• 3 hr - Assist with completing a specification of the challenges for each game level.
• 2 hr - Based on the specification, investigate whether to modify the existing challenge factories, or create new challenge factories. Choose the approach that

[2017-03-03 17:27] ariel-phet commented on #66
@pixelzoom that estimate all seems quite reasonable, along with the assumptions. Considering this estimate and @amanda-phet priorities as discussed at the meeting, this should probably be your next priority after unit rates.

I will leave it to @amanda-phet to figure out a name for the sim, happy to help on the game specification.

[2017-03-07 17:13] pixelzoom commented on #66
Unit Rates is now in testing.  So I'd like to make a sprint on this sometime in the next few days.  But I'll need to create a repository to do so, which requires choosing a sim name.  We can change the sim name later, but not at zero cost (repository needs to be move, code needs to be changed, all developers need to change their working copy,...)

Some possible names:

Graphing Slope-Intercept Lin

[2017-03-07 19:32] pixelzoom commented on #66
Skype call with @amanda-phet and @ariel-phet:

We'll go with graphing-slope-intercept.  I'll create an issue in that new repository to finalize the name.

[2017-03-07 21:20] pixelzoom commented on #66
Moving further work and discussion to the graphing-slope-intercept repository.

Closing.

[2017-03-07 21:20] #66 closed

[2017-03-08 23:46] pixelzoom opened #68 "replace Unicode check marker and X with font-awesome icons"
https://github.com/phetsims/unit-rates/issues/180

[2017-03-09 00:34] pixelzoom commented on #68
@amanda-phet probably a good idea to address this soon, so that it's rolled into graphing-slope-intercept, yes?

[2017-03-09 19:07] pixelzoom opened #69 "Factor out base types for use in graphing-slope-intercept"
This is to support the new graphing-slope-intercept sim.

TODO:

(1) From `LineGameView`, factor out `BaseGameView` which takes constructor parameter `{HTMLImageElement} levelImages`.

(2) From `LineGameModel`, factor out `BaseGameModel` which takes constructor parameter `{ChallengeFactory} challengeFactories`.

 graphing-slope-intercept screen can then provide its own set of levelImages and chall

[2017-03-09 19:11] pixelzoom commented on #69
Done. I also remove ChallengeFactoryHardCoded, which hasn't been used since very early in the development of the Java version of Graphing Lines.

Closing.

[2017-03-09 19:11] #69 closed

[2017-03-09 19:29] amanda-phet commented on #68
Agreed. Let me know if you need anything from me.

[2017-03-10 19:36] pixelzoom opened #70 "sim can fail if you replay challenges"
Running with `?gameDebug` allows you to replay challenges.  In this case, it's possible that your score may be greater than a perfect score.  And that causes this assertion to fail down in `vegas.ProgressIndicator`, at the end of the game:

[code]

[2017-03-10 19:56] pixelzoom commented on #70
Fixed, closing.

[2017-03-10 19:56] #70 closed

[2017-03-10 20:07] pixelzoom opened #71 "layout bug when y-intercept is an improper fraction"
For example, in the Line Game screen:

![screenshot_184](https://cloud.githubusercontent.com/assets/3046552/23811235/5d0a3d1c-0592-11e7-9855-d33ecea97690.png)

The y-intercept is 7/3.  The numerator (7) is not being positioned properly.

[2017-03-10 20:09] pixelzoom commented on #71
Fixed in above commit.  For example:

![screenshot_185](https://cloud.githubusercontent.com/assets/3046552/23811323/b8ccf5c2-0592-11e7-85b2-c7fc6424f01d.png)

Closing.

[2017-03-10 20:09] #71 closed

[2017-03-11 05:30] pixelzoom commented on #68
Done, screenshot shown below. @amanda-phet do you want a dev version to review this, or is the screenshot sufficient?

![screenshot_308](https://cloud.githubusercontent.com/assets/3046552/23820913/1bf55ce0-05e1-11e7-9ba8-28e865110460.png)

[2017-03-11 21:35] amanda-phet commented on #68
Screenshot looks good to me. Thanks!

[2017-03-11 21:35] #68 closed

[2017-03-14 01:52] pixelzoom opened #72 "RandomChooser is flawed"
See https://github.com/phetsims/graphing-slope-intercept/issues/8.   Requires major changes to the game in Graphing Lines.

[2017-03-14 15:42] pixelzoom commented on #61
This applies to the game in both Graphing Lines and Graphing Slope-Intercept. @amanda-phet should I address this as part of graphing-slope-intercept development?

[2017-03-14 15:58] amanda-phet commented on #61
@phet-steele Why does it need to show the most recent score? Some games show most recent, some show best (I learned this when working on different sim primers with different rules).

[2017-03-14 16:23] phet-steele commented on #61
@amanda-phet our sims are inconsistent only because some were published before a consensus was made. See the consensus at: https://github.com/phetsims/vegas/issues/51#issuecomment-207081290. The decision is that all games will show recent score.

With regards to this issue, it was made because of https://github.com/phetsims/balancing-act/issues/63#issuecomment-204021601

[2017-03-14 21:00] pixelzoom commented on #72
Revision in above commit apply primarily to supporting graphing-slope-intercept, and the base types used by both sims.   A similar revision still needs to be done for graphing-lines ChallengeFactory type hierarchy.

[2017-03-14 21:13] pixelzoom commented on #61
I'm confused about what does or doesn't need to be done here.  Just wanted to see whether I need to look into it as part of graphing-slope-intercept.  Sounds like the answer is "yes", so self assigning.

[2017-03-14 21:14] pixelzoom commented on #61
@amanda-phet I will be sure to consult with you when I figure out what needs to be done here.

[2017-03-14 21:51] pixelzoom commented on #61
In https://github.com/phetsims/balancing-act/issues/63#issuecomment-204021601, @ariel-phet  wrote:

... and that was already the behavior in Balancing Act, so that issue was simply closed.

Imo, this is decision if very odd, and (perhaps) warrants further discussion.  In (most?) games, your high score is shown. And beating your high score serves as motivation for continuing to play the game.  Show

[2017-03-15 07:58] pixelzoom commented on #72
Revision to graphing-lines have been completed.  RandomChooser has been replaced with ValuePool.  Commits are attached to related issue https://github.com/phetsims/graphing-slope-intercept/issues/8. Lightly tested, full regression test and comparison to design spec still needs to be done.

[2017-03-15 15:34] amanda-phet commented on #61
I agree with you @pixelzoom and am not sure what to do. Perhaps @ariel-phet or @kathy-phet could elaborate on the reasoning behind this decision? I see in the issue that @ariel-phet mentioned it could be unclear to the user because the sim does not specifically say "best" score, but we can change that if showing the best score is desired. I don't see an argument for showing the most recent score.

[2017-03-15 16:41] ariel-phet commented on #61
@pixelzoom @amanda-phet my recollection of the rationale was classroom use. If a teacher is walking around seeing how a student is doing or wants them to replay a level they want to see the most recent score...or if the sim was used in a previous class and not reset. That is my recollection.

[2017-03-15 16:45] amanda-phet commented on #61
The classroom use scenario isn't that clear to me... I guess I don't understand why a teacher would care to see the most recent score over the best score. Perhaps @kathy-phet will remember since she made the final call.

[2017-03-21 17:36] pixelzoom commented on #61
Also important in this decision is that Graphing Lines (and other sims) display not only best score, but best _time_.  Turn on the timer, and you add the ability to play "beat the clock".   This provides an additional motivation for extending game play.  If we standardize on showing most-recent score, then presumably we are also going to show most-recent time.  And that doesn't support "beat the c

[2017-03-21 17:47] pixelzoom commented on #61
As noted in https://github.com/phetsims/balancing-act/issues/63#issuecomment-288160897, at least one simulation has change the semantics without changing the names used in the code. Balancing Act still refers to "best score" throughout the code, but now stores the most-recent score.  I'm noting this here to make the point that changing semantics requires changing code.

[2017-03-21 17:51] pixelzoom commented on #61
In summary, using "most-recent" semantics has 3 big cons:
(1) Negative impact on extending game play, especially when the timer option is used.
(2) Requires significant changes to common-code APIs (vegas)
(3) Requires significant changes to simulations.

I have yet to hear what the pros are, and whether they outweigh the cons. @kathy-phet still awaiting your input on this.

@amanda-phet It would b

[2017-03-27 15:56] amyh-phet commented on #61
Not sure if it makes a difference, but if we decide to change this implementation, we will need to redo any teacher primers that reference game mechanics that have been changed.

[2017-04-03 15:36] ariel-phet commented on #61
Just my 2 cents - I am not sure what my views on this issue were in the past, but currently I am fairly agnostic. We seem to get no complaints from users about one direction or the other. If it is easier (in terms of no code changes) perhaps we should just stick with the current approach, but have a definite choice of consistency going forward.

[2017-04-03 15:46] pixelzoom opened #73 ""Graphing Point-Slope" sim?"
In https://github.com/phetsims/graphing-lines/issues/66, we decided to create a slope-intercept only version of this sim, which was ultimately named "Graphing Slope-Intercept".   As a result of that work, it would be very easy to create a point-slope version, "Graphing Point-Slope".  All we'd need to do is specify a set of challenge factories, similar to what we did in https://github.com/phetsims/

[2017-04-03 22:46] kathy-phet commented on #61
I've reviewed the issue. Most games that I am aware of that show high score also show "your score" with respect to the high score, with high score being labeled. It also seems like when there is high score shown, there is often a social component where you are playing against a group of other players (classmates or such, and the person with the high score gets to have their name there). So our gam

[2017-04-04 18:14] pixelzoom commented on #61
I thought it would be a good time to address it since (a) I just made other major changes to the Game, (b) the Game will need to be throughly retested in a related sims, and (c) graphing-slope-intercept is way ahead of schedule.

But it sounds like this is not the time that people want to address this.  So I'll unassign and mark as deferred.

[2017-04-04 18:16] pixelzoom commented on #61
Btw... Best time is very clearly labeled as such on the screen that is shown when a game is completed.  For example in RPAL:

When you get a best time:

![screenshot_317](https://cloud.githubusercontent.com/assets/3046552/24671972/7ba3a18a-1930-11e7-876d-46da2bcfb9f7.png)

And when you beat your best time:

![screenshot_318](https://cloud.githubusercontent.com/assets/3046552/24671973/7d01412c-1930

[2017-04-04 18:19] pixelzoom commented on #61
Btw... Best time is very clearly labeled as such on the screen that is shown when a game is completed.

For example in RPAL, when you beat your best time:

![screenshot_317](https://cloud.githubusercontent.com/assets/3046552/24671972/7ba3a18a-1930-11e7-876d-46da2bcfb9f7.png)

And when you don't beat your best time:

![screenshot_315](https://cloud.githubusercontent.com/assets/3046552/24672059/c73e

[2017-04-04 18:33] amanda-phet commented on #61
@phet-steele and I discussed this a bit yesterday and in the level completion panel (screenshotted above for RPAL) we could easily display "(Your Best: 10 out of 10)" below "Score: 10 out of 10". Then there is a nice parallel between the score and the time, and when you return to the level selection screen it's pretty clear what is being displayed.

I think deferring the decision makes sense for t

[2017-04-04 18:40] amanda-phet commented on #73
Hm, my first instinct is no. The slope-intercept form of a line is so prevalent in just about every pre-algebra and algebra curriculum that it demanded its own sim. This is why teachers have asked for slope-intercept to be separate, because it is taught much earlier than point-slope, so the game was hard for those teachers to use. Once a student is learning about point-slope form they are also fam

[2017-04-04 18:50] pixelzoom commented on #73
I figured that was the case in terms of the order in which the topics are taught.  Just wasn't sure if anyone wanted to crank out an easy sim :)

Who are the "others" that should be consulted to resolve this issue?

[2017-04-04 18:51] amanda-phet commented on #73
I'm curious what @ariel-phet and @kathy-phet think. I will also email Karina since she worked on Graphing Lines.

[2017-04-04 18:53] pixelzoom commented on #73
It would be good to resolve this before diving into graphing-slope-intercept testing because (as mentioned in https://github.com/phetsims/graphing-lines/issues/73#issue-218977118) one of the big cost advantages would be simultaneous testing.

[2017-04-04 18:56] amanda-phet commented on #73
My opinion is that we should not make the suggested sim. While it would be inexpensive, (and those sims are rare!), I'm not sure it would be useful, so it could still end up being an unnecessary cost.

[2017-04-04 18:57] kathy-phet commented on #61
Thanks for watching out for this opportunity, Chris! But yes, I think I'd still like to defer given all the people that would need to be pulled into figure out a path forward for improving the design.

Regarding Graphing-Slope-Intercept being way ahead of schedule -- that is great news. The sooner it is out the better! :) Thanks.

[2017-04-04 18:58] ariel-phet commented on #73
@amanda-phet on this topic I defer to your judgement. Although I also like inexpensive sims, I do not like "diluting" the impact of a sim (for instance CCK having so many flavors in Java). So if you think it would be low use, especially given the full Graphing Lines that covers all the bases, I am fine with not having a specific point-slope sim.

[2017-04-04 19:02] pixelzoom commented on #73
I definitely agreed about the @ariel-phet's "diluting" comment.

[2017-04-04 19:02] kathy-phet commented on #73
@amanda-phet - I also defer to you on this topic. We had talked about the advantage of a pure "Slope" sim ... but that was a bit more than a tweak, adding a new (relatively simple) screen so probably not something to hold up the publication of these two sims.

[2017-04-04 20:04] amanda-phet commented on #73
Thank you for commenting. Let's skip this spinoff sim, then.

[2017-04-04 20:04] #73 closed

[2017-04-05 18:22] pixelzoom opened #74 "Game timer keeps running after the last challenge is answered"
Game timer keeps running after the last challenge is answered, and doesn't stop until you press Next button. It should stop immediately after answering the last challenge.

[2017-04-05 18:58] pixelzoom commented on #74
Fixed.  The game timer now stops as soon as the user has made their final guess on the last challenge.  If their final guess was correct, they'll see a "Next" button that takes them to the "level completed" screen.  If their final guess was incorrect, they'll see a "Show Answer" button before seeing the "Next" button.  They are not charged for time incurred in reviewing an incorrect answer to the

[2017-04-05 18:59] pixelzoom commented on #74
I'm going to mention this issue in dev testing for graphing-slope-intercept (https://github.com/phetsims/tasks/issues/812), since that's how it was uncovered.

@phet-steele Could you please review this in master?

[2017-04-07 17:42] pixelzoom commented on #72
I added query parameter `verifyChallenges`, which creates 2000 sets of challenges for each level.  This exercises the challenge factories more than a typical user could ever do, and is intended to find problems that may only occur with random selection, etc.  It does not verify that the challenges match the design specification.

[2017-04-07 17:43] pixelzoom commented on #72
@amanda-phet I'm confident that the challenge factories match the specification, and that there's nothing in the randomness that will cause the sim to fail.  Would you like to review?

[2017-04-07 19:30] phet-steele commented on #74
Fixed.

[2017-04-07 19:30] #74 closed

[2017-04-11 18:30] pixelzoom commented on #72
@amanda-phet FYI, Graphing Lines is on deck for dev testing, this is the only blocking issue.

[2017-04-11 18:47] amanda-phet commented on #72
I trust you and don't feel a need to review personally.

[2017-04-11 18:47] #72 closed

[2017-04-18 16:35] phet-steele opened #75 "Assertion failure, two different points are required"
This can be hit in either graphing-lines or graphing-slope-intercept. @pixelzoom this IS in the current production version (1.1.10).

1. Choose either the Slope-Intercept or Point-Slope screens.
2. Create a line with undefined slope while also placing the y-intercept at 10 or -10.
3. Increment/decrement the rise to get a slope of 0/0:

![gl01](https://cloud.githubusercontent.com/assets/5863899/251

[2017-04-18 17:02] pixelzoom commented on #75
Impossible for me to tell how or where (which screen) this failure occurred from the above stack trace.

@phet-steele Can you provide any details on how you produced this failure? Were you fuzz testing? Manually testing a specific screen?  Do you have a screenshot showing the sim at time of failure?

[2017-04-18 17:26] phet-steele commented on #75
It was automated testing that encountered it while fuzzing. It has been hard for me to reproduce this by hand or outside of automated testing.

[2017-04-18 17:27] pixelzoom commented on #75
Could you tell which screen the sim was in when the assertion failed?

[2017-04-18 17:29] phet-steele commented on #75
No, this testing is done in a headless chrome browser. I was able to reproduce once with fuzzing, but the sim did not pause on the error....

[2017-04-18 18:48] pixelzoom opened #76 "pick up the fix for web audio for 1.2 release"
Related to dev test https://github.com/phetsims/tasks/issues/816.
Same problem as https://github.com/phetsims/graphing-slope-intercept/issues/17.

Since this sim is in dev testing, there has been no release branch created yet.  But I was hoping to use the same shas that are being testing for graphing-slope-intercept.  We'll see if that's still possible.

[2017-04-18 20:23] phet-steele commented on #75
Just got a hit with `?screens=1` (so it occurs on the first screen). Sim still didn't pause but here is the stack trace with the new message:
[code]

[2017-04-18 20:25] pixelzoom commented on #75
Thanks, that helps.  I see you're using master, which now reports the duplicate point value `(0,-10)`, that's super-helpful too.

[2017-04-18 20:31] phet-steele commented on #75
@pixelzoom this is easy to reproduce. Expect an issue shortly.

[2017-04-18 20:46] phet-steele commented on #75
@pixelzoom I decided to edit the original post instead.

[2017-04-18 20:52] phet-steele commented on #75
@pixelzoom, reproducible in 1.0.0........

[2017-04-18 21:05] pixelzoom commented on #75
Ah...  The problem is that you shouldn't be able to set the sim in this state.   If the denominator is 0, then the numerator spinner should skip over the zero value.  For example, set the numerator to zero, then observe the behavior of the denominator spinner - it will skip over 0.

[2017-04-18 21:51] pixelzoom commented on #75
The same problem occurs in this scenario:

![screenshot_218](https://cloud.githubusercontent.com/assets/3046552/25154650/bd40ebd8-244e-11e7-9470-1cabed08d4fa.png)

So the problem occurs when the intercept is +10 or -10.  The spinner can't skip over the 0, because it would exceed the range of the graph.  The spinners need to be disabled in these situations.

[2017-04-18 21:56] pixelzoom commented on #75
This requires being able to customize how `scenery-phet.NumberPicker` decides when to enabled/disable its up/down arrows.  It's currently hardcoded to do so based on the range.

[2017-04-18 22:13] pixelzoom commented on #75
I added the required functionality to NumberPicker.  So picking up this fix is going to require updating to scenery-phet master.

[2017-04-18 22:28] pixelzoom commented on #76
Looks like we'll need to update to scenery-master to pick up the fix for phetsims/graphing-lines#75.  That's also true for graphing-slope-intercept.  So I think we'll probably just start over with master of everything.

[2017-04-18 22:37] pixelzoom commented on #75
This problem is also not specific to slope-intercept. Here it is (see below) in point slope.  The fix is the same as described above.

![screenshot_219](https://cloud.githubusercontent.com/assets/3046552/25155987/3e5e10a0-2455-11e7-8785-6889366e4076.png)

[2017-04-18 22:48] pixelzoom commented on #75
Fixed in above commit.  @phet-steele could you please verify in master?

[2017-04-18 23:04] pixelzoom opened #77 "follow naming convention for vars of type {Property}"
Being one of the older sims, this sim doesn't follow the convention of using a 'Property' suffix on variables and parameters of type `{Property}`.

For example, see SloperPicker:

[code]

The first 3 parameter names should be `variableComponentProperty`, `fixedComponentProperty` and `variableRangeProperty`.

Deferred until sometime after publication of Graphing Lines 1.2.0 and Graphing Slope Inter

[2017-04-18 23:07] pixelzoom commented on #75
@phet-steele After verifying, please assign this back to me, do not close.

I want to investigate whether I should have done this by mutating the `variableRange` Property that is passed to SlopePicker.

[2017-04-18 23:10] pixelzoom commented on #75
The answer to my above questions is "no, I should not have fixed this by mutating the `variableRange` Property".   Ranges are not mutated anywhere else in the sim.

[2017-04-18 23:10] pixelzoom commented on #75
The answer to my above questions is "no, I should not have fixed this by mutating the `variableRange` Property".   Ranges are not mutated anywhere else in the sim.

So... @phet-steele feel free to close if this verifies OK.

[2017-04-19 17:55] phet-steele commented on #75
@pixelzoom The pickers on the the Point-Slope and Slope-Intercept screens have been fixed and I cannot receive this error anymore. I wonder though, for consistency, if the same treatment should be applied to the Slope screen on graphing-lines? I should stress the error CANNOT be hit on this screen anyway, but the pickers still show enabled:

Here the y2 picker should not give me the option to go t

[2017-04-19 17:59] pixelzoom commented on #75
Slacker :)

Good point, i'll check it out.

[2017-04-19 19:12] pixelzoom commented on #76
Next test version of Graphing Lines will use the same shas as the next test version of Graphing Slope-Intercept, which will come from master in order to pick up the web audio fix. See https://github.com/phetsims/graphing-slope-intercept/issues/17#issuecomment-295396646.

[2017-04-19 19:57] phet-steele opened #78 "Game screen memory leak"
http://www.colorado.edu/physics/phet/dev/html/graphing-lines/1.2.0-dev.1/graphing-lines_en.html?screens=4&fuzzMouse to isolate just the game screen. Heap snapshot recorded every 1 minute.

| Minutes | MB |
| -- | -- |
| 0 | 27.7 |
| 1 | 325 |
| 2 | 681 |
| 3 | 1020 |

(No, I'm not missing decimals. It reached ~1 GB in 3 minutes)

Compared to http://www.colorado.edu/physics/phet/dev/html/graphing-l

[2017-04-19 20:00] pixelzoom commented on #78
Graphing Slope-Intercept likely has a similar leak, since it uses the same game engine. @phet-steele can you confirm?

[2017-04-19 20:01] pixelzoom commented on #78
Never mind, I see you already did confirm in the report above.

[2017-04-19 23:38] pixelzoom commented on #78
@phet-steele Would you mind running the same test with the published version of Graphing Lines, to verify that this is a new problem? (... which I suspect it is, but want to make sure I'm looking in the right place.)  https://phet.colorado.edu/en/simulation/graphing-lines

[2017-04-20 17:57] phet-steele commented on #78
@pixelzoom it looks like the current published version (1.1.10) has a memory leak, but nearly as dramatic:

https://phet.colorado.edu/sims/html/graphing-lines/latest/graphing-lines_en.html?screens=4&fuzzMouse

| Minutes | MB |
| -- | -- |
| 0 | 26.4 |
| 1 | 71.2 |
| 2 | 115 |
| 3 | 171 |

[2017-04-20 19:14] pixelzoom commented on #78
Thanks @phet-steele.

[2017-04-20 19:30] pixelzoom commented on #77
`SlopePicker` and `CoordinatePicker` appear to be the only places where the convention is not followed.  So perhaps I'll address this sooner rather than later.

[2017-04-20 19:54] pixelzoom commented on #77
Done, closing.

[2017-04-20 23:00] pixelzoom commented on #77
Reopening. This broken something in the Slope screen.  May have exposed a latent problem.

[2017-04-20 23:04] pixelzoom commented on #77
Not latent problem, just something I messed up. Fixed in above commit. Closing again.

[2017-04-20 23:04] #77 closed

[2017-04-20 23:27] pixelzoom commented on #75
In https://github.com/phetsims/graphing-lines/issues/75#issuecomment-295010752, I said:

Looks like my instincts were correct, but I didn't poke around enough.  The ranges are indeed adjusted dynamically, in `PointSlopeParameterRange`.   I believe this issue should be generally fixed there, and not by adding `upEnabledFunction` and `downEnabledFunction` to `SlopePicker`.

[2017-04-21 02:13] pixelzoom commented on #75
Summary of changes:
• reverted the previous changes to `SlopePicker`.
• modified `PointSlopeParameterRange` to prevent overlap of control points when dynamically adjust ranges. This covers point-slope and slope-intercept forms.
• added `SlopeParameterRange` to dynamically adjust ranges for slope form. This is brand new, ranges were not previously adjusted.

In all cases, pickers should be disabled

[2017-04-21 02:24] pixelzoom commented on #76
The plan is to use master for the next dev (or RC?) version, to pick up this and other fixes.  So closing.

[2017-04-21 02:24] #76 closed

[2017-04-21 02:56] pixelzoom commented on #78
I see zero occurrences on `dispose` in graphing-lines source code.  That's fine for the first 3 screens, since things are not dynamically created.  But in the Game screen, we're dynamically creating the view and wiring it to the model (challenges), so there needs to be some cleanup after we're done with a challenge.

[2017-04-21 03:28] pixelzoom commented on #78
In the above commit, I added `//TODO #78` in the code for cases where we definitely need to unlink from the model when a challenge is no longer needed.

[2017-04-21 16:47] phet-steele commented on #75
@pixelzoom so close! I can no longer make a zero slope line on any screen if one of the control points in on the bottom or top edge of the graph. For the Slope screen, I can no longer make a line of undefined slope if either control point is on the left or right edge of the graph. Neither the associated picker will allow me to create the line, nor manually manipulating a control point. See in the

[2017-04-21 18:05] pixelzoom commented on #75
Ah, good catch.

In the cases we're trying to address, the range should be tweaked only when we're dealing with zero and undefined slopes (rise === 0 and run === 0, respectively).  Fixed in above commit.

@phet-steele back to you.

[2017-04-21 18:19] phet-steele commented on #75
@pixelzoom, magnifico.

[2017-04-21 18:19] #75 closed

[2017-04-21 18:32] pixelzoom opened #79 "verify credits for 1.2.0 release"
QA credits should be revisited.  @phet-steele I'll consult with you when RC testing wraps up.

[2017-04-23 18:36] pixelzoom commented on #78
I addressed the obvious leaks in the above commits. Here's where we're at after that. Chrome 58 on Mac OS 10.11.6, heap snapshots with `?fuzzMouse`:

| Minutes | MB |
| -- | -- |
| 0 | 32 |
| 1 | 41 |
| 2 | 62 |
| 3 | 75 |
| 4 | 68 |
| 5 | 85 |
| 10 | 82 |
| 15 | 141 |
| 20 | 183 |
| 60 | 569 |

So... Much better, and perhaps acceptable for typical use.  But still leaking, and I'm not satisfied ye

[2017-04-24 18:07] pixelzoom commented on #78
This sim precedes PhET standards for implementation and documentation of `dispose`.  So while I'm at it, I'm going to document registration of all observers (link, multilink, addListener, etc) to indicate whether or not de-registration is necessary.  This should help the next developer (likely me).

[2017-04-24 20:56] pixelzoom commented on #78
Heap snapshots with `?ea&screens=4&fuzzMouse` (Chrome 58, Mac OS 10.11.6):

| Minutes | MB |
| -- | -- |
| 0 | 33 |
| 1 | 35 |
| 2 | 36 |
| 3 | 49 |
| 4 | 45 |
| 5 | 46 |
| 10 | 64 |
| 15 | 83 |
| 20 | 99 |
| 30 | 124 |
| 45 | 169 |
| 60 | 181 |

Forcing a garbage collection at 60 minutes, then taking an immediate heap snapshot shows no significant drop in memory.

So... still leaking.

[2017-04-24 22:17] pixelzoom commented on #78
OK, I think I have the leaks plugged.

Heap snapshots with `?ea&screens=4&fuzzMouse` (Chrome 58, Mac OS 10.11.6):

| Minutes | MB |
| -- | -- |
| 0 | 30.4 |
| 1 | 33.2 |
| 2 | 34.2 |
| 3 | 34.3 |
| 4 | 34.5 |
| 5 | 34.6 |
| 10 | 34.8 |
| 15 | 35.0 |
| 20 | 35.5 |
| 30 |  35.2 |

[2017-04-24 22:44] pixelzoom commented on #78
graphing-slope-intercept also looks good.

Heap snapshots with `?ea&screens=2&fuzzMouse` (Line Game screen, Chrome 58, Mac OS 10.11.6):

| Minutes | MB |
| -- | -- |
| 0 | 28.9 |
| 1 | 32.9 |
| 2 | 33.2 |
| 3 | 33.3 |
| 4 | 33.4 |
| 5 | 33.8 |
| 10 | 33.9 |

[2017-04-24 22:47] pixelzoom commented on #78
Given the number of files that I had to touch, I felt obliged to test all features of the sim.  I didn't notice anything broken, but I've given how much I've been staring at this sim, it's probable that I missed something.

@phet-steele feel free to verify my memory tests.  And please give take a quick look at the entire sim to see if I missed anything.

[2017-04-25 19:29] phet-steele commented on #78
@pixelzoom, a quick look didn't reveal anything obvious, we will of course be more thorough during the next dev test. The memory leak certainly looks plugged. I let the game screen run for a couple hours and it stayed around ~33 MB; the full sim stayed ~64 MB. Great work fixing this one, seemed like a good amount of work 😄! Back to you to close or mark for verification in the next dev version.

[2017-04-25 19:40] pixelzoom commented on #78
Our work here is done. Any collateral damage will be ferreted out by the next dev test.

[2017-04-25 19:40] #78 closed

[2017-04-25 20:31] phet-steele commented on #76
1.2.0-dev.2 has audio in Safari, and shows pingver=3 and the brand in the network tab, and works with `?phet-android-app`. I'd say we got all three patches! (verified for the dev test)

[2017-05-21 18:28] maggiewiseman opened #80 "Long strings that replace variables (y, x, and m) cause equation box to appear under graph"
Test device: Macbook Air

Operating System: OSX 10.12.4

Browser: Chrome:  Version 58.0.3029.81 (64-bit)

Problem description:
When I use the query parameter: ?stringTest=long, the text for the equation box and equation  on the graph do not shrink to accommodate the long string.    Is this irrelevant because the text that has been replaced is either y or m or x which are always only one letter any

[2017-05-21 18:52] maggiewiseman opened #81 "long strings push game buttons off screen when best time shows"
Test device: Macbook Air

Operating System: OSX 10.12.4

Browser: Chrome: Version 58.0.3029.81 (64-bit)

Problem description:
Long strings that replace best time push the game buttons off the screen.

Steps to reproduce:
1.  Load the sim with ?stringTest=long query parameter
2. Choose games screen
3. Turn timer on
4. Win level 1 and level 2 so that best time shows up under game button on games scr

[2017-05-23 20:25] EthanWJohnson commented on #80
Happens on stringTest=rtl too, on the third screen. Not sure how big an issue it is, though; it seems like the letters being replaced would never get that long.

[2017-06-05 19:07] pixelzoom commented on #80
This issue was previously reported in https://github.com/phetsims/graphing-lines/issues/57, and we decided not to address it, since it will never occur in practice.  But I will look at addressing it, so that it doesn't keep coming up in the future.

[2017-06-05 19:24] pixelzoom commented on #80
I looked into this, and it's more effort than is warranted for something that will never occur in practice.  So closing this issue as "won't fix".

[2017-06-05 19:24] #80 closed

[2017-06-05 19:24] pixelzoom commented on #81
This issue will never occur in practice, since a time is always formatted as (e.g.) 2:34:56.   But I'll look into addressing it so that it doesn't keep getting reported.

[2017-06-05 19:26] pixelzoom commented on #81
I investigated, and this is actually a problem in vegas.LevelSelectionButton, where there is no `maxWidth` set for the time display:

[code]

Since it's in common code, I'm certainly not going to fix it for Graphing Lines.  And I don't think it's worth even fixing in common code since (as I said) it will never occur in practice.

So.... Closing this issue as "won't fix".

[2017-06-05 19:26] #81 closed

[2017-06-05 20:24] pixelzoom commented on #79
@phet-steele I neglected to do this. Sorry, but not worth doing another release. Closing.

[2017-06-05 20:24] #79 closed

[2017-06-06 23:05] ayeemdee opened #82 "Control points lose center filling in Put Points on Line"
The problem is most easily replicated by arranging the points in a horizontal line or moving them close to each other.
I'm only getting this problem on an iPad 2 in portrait. It doesn't reproduce in landscape or on iPad Air 2 or Galaxy S6. Therefore it might just be related to the poor resolution of the iPad 2.

This bug is seen both in Graphing Slope Intercept and Graphing Lines (published versio

[2017-06-07 15:46] pixelzoom commented on #82
Wow, that's weird. I have no idea why points would fail to fully redraw. @jonathanolson do you have any ideas?

[2017-06-07 15:47] pixelzoom commented on #82
The points are implemented in graphing-lines.PlottedPointNode, a subtype of scenery-phet.ShadedSphereNode.

[2017-06-07 18:58] pixelzoom commented on #82
@ayeemdee said:

Does that mean that you've been unable to reproduce on all other platforms?  Or does it mean that you noticed it on iPad2, but only in portrait?

Can you please report on iPad2 in portrait with Chrome?   And a couple of desktop platforms, including Safari?

[2017-06-07 21:23] phet-steele commented on #82
@pixelzoom this happens in iPad2 Chrome (this is expected, see https://github.com/phetsims/special-ops/issues/57#issuecomment-274154299) and certainly seems related to iPad 2 (iOS 9.3.5 on an iPad Air 2 showed no issue). Similarly, not seeing issues on desktop platforms (macOS 10.12.5 Safari, Win 10 Chrome).

[2017-06-07 21:34] ariel-phet commented on #82
Considering the low percentages here (iPad2 is shrinking usage, portrait is less likely) and the fact that this bug exists in the published version and has gone seemingly unnoticed, I am going to mark won't fix.

[2017-06-07 21:45] phet-steele commented on #82
@pixelzoom before you ask, this was checked as far back as 1.0.0 and the bug still exists. Not introduced in the published version from a couple days ago (1.2.0).

[2017-06-07 22:13] pixelzoom commented on #82
So to summarize:
• specific to iPad2 in portrait mode
• occurs across browsers (Safari, Chrome)
• certainly not a sim-specific issue, would need to be addressed in scenery
• will not fix, per @ariel-phet

@jonathanolson Do you want to create a low-priority scenery issue?

[2017-06-07 22:17] jonathanolson commented on #82
Created https://github.com/phetsims/scenery/issues/623 to track permanently as its own browser-specific issue.

[2017-06-07 22:21] #82 closed

[2017-07-07 17:10] phet-steele opened #83 "TypeError: this.setPickable is not a function"
From phetsims/scenery/issues/629. Looks like the playStateObserver gets a notification queued somehow before it gets unlinked.

[code]

[2017-07-07 17:11] jonathanolson commented on #83
Looks like a "use after disposal" for Node.

[2017-07-07 18:37] pixelzoom commented on #83
Assertion failure is in GraphTheLineNode, line 135.    I suspect that a similar failure would occur in MakeTheEquationNode, line 126.

[2017-07-07 18:54] pixelzoom commented on #83
This is a little more complicated than I thought.  Moving unlink before dispose (as proposed above) doesn't fix the problem because `playStateObserver` is already queued to be called before `challengeNode.dispose` is called.

[2017-07-07 19:09] pixelzoom commented on #83
Fixed in the above commit.

@phet-steele please verify in master using `?ea&screens=4&fuzzMouse`.

FYI, I checked the current release branch (1.2) and this problem does not exist there.  So no need to publish a maintenance release, this is purely a fix in master.

[2017-07-11 19:11] phet-steele commented on #83
Verified, bayes also has shown no errors since the fix.

[2017-07-13 21:17] pixelzoom commented on #83
Reopening.

This workaround can be removed after phetsims/scenery#649 is done.

[2017-07-13 21:49] pixelzoom commented on #83
@phet-steele This has been fixed in phetsims/scenery#649, and the workaround in graphing-lines has been reverted.  Tested with `?ea&fuzzMouse&screens=4`. Please pull scenery and graphing-lines to re-verify.

[2017-07-14 20:32] phet-steele commented on #83
Fuzzed master for an hour and saw no errors, closing.

[2017-07-14 20:32] #83 closed

[2018-01-09 19:51] pixelzoom commented on #67
Deferred until we have a way to identify production versions, see phetsims/joist#406.

[2018-03-06 18:00] pixelzoom opened #84 "use MathSymbols.js"
See https://github.com/phetsims/scenery-phet/issues/353

Verify that this also addresses Graphing-Slope Intercept.

[2018-03-07 23:53] pixelzoom opened #85 "unary minus is a bit long?"
Noted while working on https://github.com/phetsims/graphing-lines/issues/84.

In the Slope screen, the "Slope is..." label on the graph is using a minus operator, rather than the shorter unary minus, for negative slope values.  Example:

![screenshot_509](https://user-images.githubusercontent.com/3046552/37125460-f8548476-2229-11e8-901c-5bbc34ca096e.jpg)

@ariel-phet @amanda-phet in light of our r

[2018-03-07 23:57] pixelzoom commented on #84
This took considerably more time than https://github.com/phetsims/function-builder/issues/117, because the symbols were inlined and duplicated, instead of factored out.

Unfortunately there is one symbol in the strings file, which I'm not going to bother with:

[code]

Closing.

[2018-03-07 23:57] #84 closed

[2018-03-08 00:40] ariel-phet commented on #85
@pixelzoom this seems like a very quick change....would it be possible to look at a dev version, or version on master with the everything changed to the shorter one? might be easiest to see in context, and compare the published version to the suggested change.

If it is indeed a quick change of a few lines of code, let me know, and I will take a look on master or such.

[2018-03-08 02:53] pixelzoom commented on #85
Yes, quick change, and could provide a dev version. But it doesn't use MathSymbols.js.  So I'd need to know how long you'd like the unary minus to be -- specified as percentage of the currently value shown in screenshots.

[2018-03-17 04:04] ariel-phet commented on #85
This would be a decision for @amanda-phet

@amanda-phet thoughts on making this a bit shorter? I will leave it up to your discretion.

[2018-03-17 18:06] pixelzoom commented on #85
@amanda-phet Also fine to leave it as is, since we did decide on this specific length for the unary minus during design of this sim.  I was just noting that it's a tad longer than in other sims.   And to reiterate -- if you'd like me to change it, please specify as a percentage of the current length.

[2018-03-20 20:37] amanda-phet commented on #85
I think we can leave it as is for this sim. Since this sim needs to display the minus sign over a grid and sometimes within a sentence ("Slope is...") I think we need it to be extra noticeable.

[2018-03-20 20:37] #85 closed

[2018-03-20 21:46] jonathanolson opened #86 "Temporary workaround for GCD change"
Since DOT/Util.gcd is changing to always specify a positive number (https://github.com/phetsims/phetcommon/issues/41#issuecomment-374756028) for correctness, I'm applying a workaround to graphing-lines since it relies on the very-tricky sign behavior of the old implementation.

Ideally code can be simplified to use the new gcd function. It's possible that the sim is fine with the change, but snaps

[2018-03-26 19:54] pixelzoom opened #87 "replace Math.floor with Util.roundSymmetric"
Noted while working on https://github.com/phetsims/graphing-lines/issues/86.

This sim uses Math.floor in many places where it should use Util.roundSymmetric.

Math.floor( -3.1 ) -> 4
Util.roundSymmetric( -3.1 ) -> -3

... and we generally want the Util.roundSymmetric behavior.  I'm a little surprised that this hasn't caused problems previously.

[2018-03-26 19:57] pixelzoom commented on #87
Also... Util.roundSymmetric is typically needed after division, when an integer result is desired.  For example, for Line `getSimplifiedRise`, we want an integer rise.  So this:

`113 return ( this.rise / Line.gcd( Math.floor( this.rise ), Math.floor( this.run ) ) );`

should be:

`113 return Util.roundSymmetric( this.rise / Line.gcd( this.rise, this.run ) );`

[2018-03-26 20:04] pixelzoom commented on #87
Fixed in the above commit.  Tested with `?ea&fuzzMouse`, and with `?ea&verifyChallenges` (since this touched challenge generation.)

Closing.

[2018-03-26 20:04] #87 closed

[2018-03-26 20:13] pixelzoom commented on #86
The usages in `getSimplifiedRise` and `getSimplifiedRun` should definitely use `Util.gcd`, since the sign of the rise (or run) should be preserved when simplified.  As it is now, if the slope is -2/4 or -2/-4, the simplified slope is wrong. E.g.`-2 * Line.gcd( -2, 4 ) = -2 * -2 = 4`.   This hasn't resulted in a problem only because Math.abs is being used to show rise/run values, and the sign is de

[2018-03-26 20:17] pixelzoom commented on #86
The `gcd` usage in `getYIntercept` should also be `Util.gcd`.  Again, we want to preserve the sign of the numerator and denominator.

[2018-03-26 20:24] pixelzoom commented on #86
I review the snapshot comparisons that @jonathanolson provided (here and in Slack).  The differences are where the negative sign is put in the slope.  E.g. for the screenshot in https://github.com/phetsims/graphing-lines/issues/86#issue-307050716, 1/-3 vs -1/3.  This is not significant, so I'm confident that this sim is fine using Util.gcd.  Especially after inspecting the code, where it's clear t

[2018-03-26 20:24] #86 closed

[2018-07-06 17:37] pixelzoom opened #88 "change model to use 1-based level numbering?"
In https://github.com/phetsims/vegas/issues/73 and https://github.com/phetsims/vegas/issues/75, the consensus was to make vegas use 1-based level numbering.   And that 1-based level numbering in the model may be advantageous for PhET-iO, but should be evaluated on a sim-by-sim basis.

Making the requested change for FiniteStatusBar proved to be complicated.  It has option `levelProperty`, which is

[2018-07-12 20:03] pixelzoom opened #89 "prioritize active line when color-coding point tool"
When the "active" line intersects a saved line, the point tool's color should be keyed to the active line, not the saved line.   Here's what currently happens:

![screenshot_696](https://user-images.githubusercontent.com/3046552/42656354-44f52ab8-85dc-11e8-9c8b-136d79a2d4d1.png)

The background behind the point coordinates should be black, not gray.

[2018-07-12 20:13] pixelzoom commented on #89
Done in master.  Labeled as fixed-awaiting-deploy, so we test in next RC cycle.

[2018-07-13 18:12] pixelzoom commented on #67
Done in master, awaiting deployment.

[2018-08-13 16:59] pixelzoom commented on #88
The only reason to do this would be for PhET-iO.  Deferring until this sim is instrumented.

[2018-09-07 19:33] KatieWoe opened #90 "title case"
For phetsims/tasks/issues/953
"Hide lines" and "Hide grid" in title case would be "Hide Lines" and "Hide Grid."
![title case3](https://user-images.githubusercontent.com/41024075/45239006-f59cb700-b2a0-11e8-9c04-5d376907cda7.PNG)

[2018-09-07 19:47] pixelzoom commented on #90
There's nothing inconsistent here.  And there is no need to be pedantic about using title case everywhere;  the context needs to be examined when deciding what case to use.

@amanda-phet please advise.

[2018-09-20 20:56] amanda-phet opened #91 "use icons for "Hide lines" and "Hide grid""
In other sims with gridlines (see Area Builder or Area Model sims) we are using this checkbox to toggle gridline visibility:
![image](https://user-images.githubusercontent.com/7852916/45846379-d82a0d00-bce4-11e8-8d9a-308660a77518.png)

Discussed 9/20/18 that we should include the same checkbox in Graphing Lines and Graphing Slope-Intercept. This means the checkbox would be *checked* on startup.

T

[2018-09-22 21:32] pixelzoom commented on #91
Do you want both of these new checkboxes just outside the lower-right corner of the the graph, ala Graphing Quadratics?  Vertically stacked?  Which one on top?

[2018-09-24 16:32] pixelzoom opened #92 "do not disable UI components when graph contents are hidden"
Currently, checking the "Hide lines" checkbox results in some of the other UI components being disabled (other checkboxes, Save and Erase buttons, ...)

In Graphing Quadratics, we decided _not_ to disable other UI components. From https://github.com/phetsims/graphing-quadratics/issues/34:

Do we want to do the same in Graphing Lines?

[2018-09-24 16:34] pixelzoom opened #93 "use icons for save and erase buttons?"
Do we want to change Graphing Lines to use icons for the save/erase buttons?

Graphing Lines:

![screenshot_761](https://user-images.githubusercontent.com/3046552/45965281-50464a80-bfe5-11e8-96e7-258947a62985.png)

Graphing Quadratics:

![screenshot_760](https://user-images.githubusercontent.com/3046552/45965252-3d337a80-bfe5-11e8-9fb8-5980993e71c2.png)

[2018-09-24 16:37] pixelzoom opened #94 "use standard font for math symbols"
Graphing Lines does not use the font that PhET has standardized on for math symbols (italic Times New Roman). Should we update it to do so?   For example, _x_, _y_, _m_, _a_, _b_, _c_ in:

Graphing Lines:

![screenshot_762](https://user-images.githubusercontent.com/3046552/45965472-ca76cf00-bfe5-11e8-9b28-ebf7a71a3367.png)

Graphing Quadratics:

![screenshot_763](https://user-images.githubusercont

[2018-09-24 16:41] pixelzoom commented on #91
If we do put these 2 controls together, it's going to be odd having a checkbox and a toggle button for similar functions, and it's going to be less clear what the eyeball is referring to.

[2018-09-24 17:11] amanda-phet commented on #94
Yes, we should definitely update the font to be in sync with the newest math sims.

[2018-09-24 17:13] amanda-phet commented on #93
No. We discussed this and decided since you can save many lines in GL but only one in GQ, it makes sense that they have different appearances.

[2018-09-24 17:13] #93 closed

[2018-09-25 16:03] pixelzoom commented on #90
The checkboxes in question are being changed to use icons instead of text (see https://github.com/phetsims/graphing-lines/issues/91), so this issue is now irrelevant.  Closing.

[2018-09-25 16:03] #90 closed

[2018-10-27 23:51] pixelzoom commented on #92
@amanda-phet If this is something you'd like to do, then I'd like to take care of it while I'm finishing up Graphing Quadratics. Please advise.

[2018-10-27 23:52] pixelzoom commented on #91
@amanda-phet  I'd like to take care of it while I'm finishing up Graphing Quadratics. Please advise.

[2018-10-28 01:15] pixelzoom commented on #94
Notes on how to do this...

See GQSymbols for a good approach to creating symbols that contain the appropriate markup for RichText.

Verify that MathSymbols is used throughout for equals, plus, minus, etc.

Symbols appear in:
* checkbox labels
* equation titles on AccordionBoxes
* interactive equations
* equations on lines
* Game challenges

[2018-10-28 01:18] pixelzoom commented on #94
This needs to be addressed (at least partially) for Graphing Quadratics, see https://github.com/phetsims/graphing-quadratics/issues/93.

[2018-10-28 20:14] pixelzoom opened #95 "replace MinusNode and PlusNode with MathSymbols"
Replace MinusNode and PlusNode with MathSymbols.UNARY_MINUS and MathSymbols.PLUS respectively.   The former look a little odd and are unnecessary.

[2018-10-28 20:33] pixelzoom commented on #95
I'm not going to touch this, because the comments in MinusNode and PlusNode indicate that the character symbols don't look good on Windows.

[2018-10-28 20:33] #95 closed

[2018-10-28 20:36] pixelzoom opened #96 "add signXSpacing to EquationNode"
`EquationNode` contains layout metrics for equations. I noticed that there is no metric for the horizontal space that follows a sign, `signXSpacing`.  The equations are currently using `operatorXSpacing`, which seems like a bit too much space.

[2018-10-28 20:45] pixelzoom commented on #96
EquationNode actually does have fractionalSlopeXSpacing and integerSlopeXSpacing.  I fixed the one place in SlopeEquationNode where the correct spacing wasn't used.

[2018-10-28 20:45] #96 closed

[2018-10-28 20:58] pixelzoom commented on #94
@amanda-phet please review [1.3.0-dev.2](https://phet-dev.colorado.edu/html/graphing-lines/1.3.0-dev.2/phet/graphing-lines_en_phet.html).

While Graphing Quadratics uses 'normal' font weight for equations, Graphing Lines uses 'bold'.  I don't know if that's something we need to change, but it's trivial to do so.  Let me know if you'd like to see a dev version of Graphing Lines with 'normal' weight

[2018-10-28 21:05] pixelzoom opened #97 "equations are not simplified in Point-Slope screen"
In master and the published version ([1.2.4](https://phet.colorado.edu/sims/html/graphing-lines/latest/graphing-lines_en.html)), equations on the graphed line are simplified in the _Slope Intercept_ screen, but not in the _Point-Slope_ screen.  See screenshots below.  I don't recall if this was intentional and it seems odd.

@amanda-phet please advise.

![screenshot_815](https://user-images.github

[2018-10-28 21:10] pixelzoom commented on #97
I consulted the [Graphing Lines HTML5](https://docs.google.com/document/d/1UvtIOLKMcJvOw8weN5vcuSRH64QaowLlCBx6Hfz45cs/edit) design document, but it has very little information on the _Point-Slope_ screen, and doesn't address this topic at all.

[2018-10-28 21:55] pixelzoom commented on #91
@amanda-phet please review [1.3.0-dev.3](https://phet-dev.colorado.edu/html/graphing-lines/1.3.0-dev.3/phet/graphing-lines_en_phet.html).

I did what I thought was best for this.  I replaced "Hide lines" with the eyeball checkbox at lower-right of the graph.  And I replaced "Hide grid" with an icon, leaving the checkbox in the panel. See Before/After screenshots below.  Note that the same changes

[2018-10-28 22:07] pixelzoom commented on #92
As the result of work done for #91, the old code that handled enabling/disabling UI components was no longer applicable and was removed in the above commit.  If we want to continue to disable components when the graph contents are hidden, I'll need to re-implement that.

@amanda-phet please review [1.3.0-dev.4](https://phet-dev.colorado.edu/html/graphing-lines/1.3.0-dev.4/phet/graphing-lines_en_ph

[2018-10-28 22:10] pixelzoom opened #98 "order of coordinates should not be translatable"
These 2 strings should be not be translatable in Graphing Lines.  There's no reason to change the order of coordinates, and we didn't make these translatable in Graphing Quadratics.  The question mark _does_ need to be translatable.

[code]

[2018-10-31 16:38] pixelzoom commented on #98
Hmm... Looks like we'll need to keep "point.unknown", since the '?' has been translated. E.g. for locale=ar:

[code]

[2018-10-31 16:39] pixelzoom commented on #98
I'm not going to address this issue. Closing.

[2018-10-31 16:39] #98 closed

[2018-10-31 16:59] amanda-phet commented on #94
Looks great to me! Let's keep bold.

I didn't look through all game challenges, but a quick review of everything looked really nice to me.

[2018-10-31 17:02] amanda-phet commented on #97
I would guess it was intentional (remember when I originally wanted vertex form to look less simplified?). @ariel-phet probably knows.

I just checked the original (java) design doc, and this is stated in the 9/13/12 meeting notes:

@ariel-phet let us know if you recall an explicit decision to keep point-slope unsimplified.

[2018-10-31 17:05] amanda-phet commented on #91
Looks great! This is exactly what I had in mind.

The only iffy thing is the yellow toggle button doesn't pop on the yellow background like it does in GQ. Should we consider another color? Or is it fine?

[2018-10-31 17:14] pixelzoom commented on #94
Thanks. Marking as "fixed awaiting deploy".

[2018-10-31 17:14] amanda-phet commented on #92
I don't mind the new behavior, but I think it would be good for @ariel-phet and @kathy-phet to review as well.

[2018-10-31 17:16] pixelzoom commented on #97
Yep :)

I just think it's odd that slope-intercept form is simplified, and point-slope form is not.  So I suspect that this might be an oversight.

[2018-10-31 17:18] amanda-phet commented on #97
I agree, and seeing the old meeting notes decision makes me think we should simplify that equation.

[2018-10-31 17:24] pixelzoom commented on #91
Yellow does 'pop' a bit - albeit not as much as on a more muted background color.  See screenshot below.

Red would definitely pop more, and fits a bit with the accordion box button. Red is a tad obnoxious, but maybe we want obnoxious for this feature. And if we changed to red here, why not change to red in Graphing Quadratics? See screenshot below.

We could consider changing the background color

[2018-11-01 02:18] ariel-phet commented on #97
@amanda-phet @pixelzoom it may well have been intentional (at the time the thinking was perhaps that point slope is a bit more difficult to reconcile). However, this was too long ago for me to recall, and I am certainly fine with it being simplified. In fact, I believe one of our rationales for simplifying is it gives a bit of an "implicit challenge" for "why is the line labeled this way when the

[2018-11-01 16:10] pixelzoom commented on #97
OK, I'll proceed with simplifying the point-slope form.

[2018-11-01 16:33] ariel-phet commented on #92
Looks good, I think we can close @pixelzoom

[2018-11-01 16:52] pixelzoom commented on #92
Great, thanks @ariel-phet. I'm not going to close - I've labeled as "fixed-awaiting-deploy" and will close after we've deployed this change.

[2018-11-01 16:54] pixelzoom commented on #91
@amanda-phet raising priority to high.  If changing the button color to 'red' is desirable, that needs to be done before creating the 1.0 release branch for Graphing Quadratics.

[2018-11-01 17:07] amanda-phet commented on #91
Let's leave it yellow.

[2018-11-02 02:15] pixelzoom opened #99 "revise screenshots for 1.3.0 release"
The changes in #91 and #94 have changed how this sim looks, so screenshots will need to be revised, including:

- [x] graphing-lines-screenshot.png
- [x] graphing-lines-screenshot-alt1.png
- [x] graphing-lines-screenshot-alt2.png
- [x] graphing-lines-screenshot-alt3.png

This needs to be done before 1.3.0 publication.

[2018-11-02 05:32] pixelzoom opened #100 "use BooleanProperty, NumberProperty, StringProperty"
Related to phetsims/axon#196.

[2018-11-02 05:55] pixelzoom commented on #100
Done, closing.

[2018-11-02 05:55] #100 closed

[2018-11-02 23:14] pixelzoom commented on #97
Note to self: This is isolated to `PointSlopeEquationNode`, but will involve rewriting most of it. Not a quick change, but not rocket science.

[2018-11-02 23:26] pixelzoom opened #101 "simplify equation Nodes"
There are currently 3 types that display equations:

* `SlopeEquationNode` - slope form
* `SlopeInterceptEquationNode` - slope-intercept form
* `PointSlopeEquationNode` - point-slope form

Each of those types is responsible for displaying 3 variations of it's equation form:

* general form (at the top of the accordion box)
* interactive form (which includes pickers)
* simplified form (used to labe

[2018-11-02 23:38] pixelzoom commented on #101
Note that interactive form needs to make selective pieces of the equation interactive, for support of game challenges.

[2018-11-02 23:43] pixelzoom commented on #101
Ah... Equation instances on lines are dynamically updated in Graphing Lines, while new instances are created in Graphing Quadratics.  That and the game requirements i cause for reconsideration.  I think I'll put the lid back on this can of worms.  Closing.

[2018-11-02 23:43] #101 closed

[2018-11-05 19:52] pixelzoom opened #102 "Assertion failed: reentry detected, value=NONE, oldValue=FIRST_CHECK"
I encountered this when playing Game level 4 to completion, which is probably why it hasn't shown up in CT.

To reproduce:
1. run sim with `?ea&showAnswers`
2. go to Line Game screen
3. select Level 4 (probably occurs with other levels)
4. press Skip button 6 times, and this Error occurs:

    at window.assertions.assertFunction (assert.js:22)
    at StringProperty._notifyListeners (Property.js?bu

[2018-11-05 20:21] pixelzoom commented on #97
@amanda-phet please review in [1.3.0-dev.5](https://phet-dev.colorado.edu/html/graphing-lines/1.3.0-dev.5/phet/graphing-lines_en_phet.html).

As I got into this, it was not totally clear what "simplified" was for point-slope form.   It seems to me that simplified form for point-slope would be the same as simplified form for slope-intercept. So what I did was to just remove cases where '0' showed u

[2018-11-05 20:33] pixelzoom commented on #102
Rather than try to change the game implementation, I simply added `reentrant: true` to `playStateProperty`.  This fixed the problem.  And since `playStateProperty` is an internal Property that control that game flow and shouldn't be exposed, it shouldn't be an issue when this sim is instrumented for PhET-iO.

[2018-11-05 20:33] #102 closed

[2018-11-05 20:39] pixelzoom commented on #88
There is no reason to change this in the model.  If the client wants 1-based level numbering, then we should instrument `levelProperty` that is passed to `FiniteStatusBar`, as described in https://github.com/phetsims/graphing-lines/issues/88#issue-339019476.

Closing.

[2018-11-05 20:39] #88 closed

[2018-11-05 20:43] pixelzoom commented on #61
@amanda-phet Since we're going to publish a new minor release (1.3.0) of this sim, we're supposed to review all open issues.  Please evaluate whether you want to open this can of worms, or defer until a future release.

[2018-11-05 21:00] amanda-phet commented on #97
True, I should have been explicit about simplified form. This also means that the left-hand side of the equation should not have parentheses (ever). Is that tricky to fix at this point?

[2018-11-05 21:07] amanda-phet commented on #61
What is the expected timeline for re-releasing GL? This is a good reminder that we need to have a design meeting about game dialogs.

[2018-11-05 22:10] pixelzoom commented on #61
I don't think we have a timeline.  There are a bunch of changes that are "fixed pending deploy", and @ariel-phet said it would be good to publish a new minor release sometime.   @ariel-phet?

[2018-11-05 22:20] pixelzoom commented on #61
Discussed with @amanda-phet, we're going to defer this for 1.3.0 release.

[2018-11-05 22:21] pixelzoom commented on #61
@ariel-phet I'm guessing that the goal is to release 1.3.0 of this sim shortly after Graphing Quadratics 1.0, to take advantage of the improvements we've made to make this sims more similar.  Is that correct?

[2018-11-05 23:08] kathy-phet commented on #61
I'd favor deferring this particular issue, as I think it will take some time and we have some other higher priority items.

[2018-11-05 23:12] pixelzoom commented on #61
Yep, we're deferring, see https://github.com/phetsims/graphing-lines/issues/61#issuecomment-436057456.  @amanda-phet is going to put the general issue somewhere on her TODO list.

[2018-11-05 23:15] pixelzoom commented on #97
@amanda-phet please review [1.3.0-dev.6](https://phet-dev.colorado.edu/html/graphing-lines/1.3.0-dev.6/phet/graphing-lines_en_phet.html).

There's one case that looks a little odd, the case where slope is 1.  See screenshot below - no parens on the left, but parens on the right.  This is the only case like this, so maybe it's OK.

![screenshot_832](https://user-images.githubusercontent.com/3046552

[2018-11-06 19:49] amanda-phet commented on #97
Hm... is it difficult to get rid of those parentheses in the case of m=1? (but not m=-1). Otherwise it all looks good to me.

[2018-11-07 04:34] pixelzoom commented on #97
In [1.3.0-dev.8](https://phet-dev.colorado.edu/html/graphing-lines/1.3.0-dev.8/phet/graphing-lines_en_phet.html), the parens around `x - x1` have been removed when m=1.  @amanda-phet please verify.

I also wanted to point out that these point-slope "simplifications" apply to _all non-interactive equations_ - not just the equations that are used to label lines on the graph, but also to any non-inte

[2018-11-07 18:56] pixelzoom opened #103 "revise related materials for 1.3.0 release"
Graphing Lines 1.3.0 will contain a number of UI changes, including #91, #92, #94, #97.  Related materials (teacher tips, activities, primer video,...) may need to be revised to reflect these changes.

Screenshot updates are covered by #99.

This should be done reasonably close to the 1.3.0 release.

[2018-11-08 18:01] amanda-phet commented on #99
@KatieWoe Can you re-create the GL screenshots using the latest dev version? There were some visual changes to the sim, but the sim configurations do not need to change. Feel free to paste them here for me to verify if you would like.

[2018-11-08 19:06] KatieWoe commented on #99
@amanda-phet
![graphing-lines-screenshot](https://user-images.githubusercontent.com/41024075/48221218-bb0dd400-e34e-11e8-878b-f964f97a9def.png)
![graphing-lines-screenshot-alt1](https://user-images.githubusercontent.com/41024075/48221219-bb0dd400-e34e-11e8-8f4e-8246b202271b.png)
![graphing-lines-screenshot-alt2](https://user-images.githubusercontent.com/41024075/48221220-bba66a80-e34e-11e8-93a3-bf

[2018-11-08 19:16] amanda-phet commented on #99
The slope screen is just missing the saved line at y=-2.

For point-slope, let's do a different equation that makes it easier to see the equation on the line. How about y-3 = -8/12 (x - -5)
![image](https://user-images.githubusercontent.com/7852916/48221705-04125800-e350-11e8-9014-76880f523638.png)

Thanks!

[2018-11-08 23:20] KatieWoe commented on #99
@amanda-phet
![graphing-lines-screenshot-alt1](https://user-images.githubusercontent.com/41024075/48233407-4351a080-e372-11e8-8176-12d1bdb835e5.png)
![graphing-lines-screenshot-alt2](https://user-images.githubusercontent.com/41024075/48233408-4351a080-e372-11e8-918d-d8afe5ef13ec.png)

[2018-11-09 00:59] amanda-phet commented on #99
Point-slope looks good.

Can you just make sure the Slope screen has y=-2, not y=2? The horizontal line should go through that purple point.

[2018-11-12 16:53] KatieWoe commented on #99
@amanda-phet
![graphing-lines-screenshot-alt1](https://user-images.githubusercontent.com/41024075/48362370-be5fd300-e660-11e8-9457-4ce8266cb7d2.png)

[2018-11-12 20:43] amanda-phet commented on #99
You got it- thanks!

[2018-11-12 20:53] arouinfar opened #104 "Accordion menu should have a max width"
I was looking at `?stringTest=long` for a few published sims, and stumbled across this. The accordion menu on the first 3 screens doesn't appear to have a max width, leading to a broken layout.

<img width="1440" alt="screen shot 2018-11-12 at 1 13 31 pm" src="https://user-images.githubusercontent.com/8419308/48374315-be23ff80-e681-11e8-84e1-9c7fab1cf6c9.png">

The same issue also exists in `graph

[2018-11-15 20:24] pixelzoom opened #105 "revise i18n layout"
In https://github.com/phetsims/graphing-lines/issues/104, @arouinfar reported that the accordion box width isn't constrained, e.g:

<img width="1440" alt="screen shot 2018-11-12 at 1 13 31 pm" src="https://user-images.githubusercontent.com/8419308/48374315-be23ff80-e681-11e8-84e1-9c7fab1cf6c9.png">

While investigating, I noticed other issues.  E.g. checkboxes are being scaled down in the above sc

[2018-11-16 16:38] KatieWoe commented on #99
Above commit should do it.  @amanda-phet @pixelzoom look over and close if acceptable.

[2018-11-16 20:44] pixelzoom commented on #99
I verified that the screenshots in GitHub match what @amanda-phet approved in the above comments, and that images sizes are the new standard 1536x1008.

Closing.

[2018-11-16 20:44] #99 closed

[2018-11-16 21:44] pixelzoom opened #106 "use AccordionBox"
Graphing Lines currently does not use AccordionBox, it uses a Panel + ExpandCollapseButton to create something that looks like an AccordionBox (see `EquationControls`).  This should be changed to take advantage of phet-io and a11y instrumentation of AccordionBox.

[2018-11-16 21:58] pixelzoom commented on #105
Revisions completed, screenshots below.

While I don't like scaling down the pickers (and would not do so in new development), the way that equation classes are repurposed for both interactive and non-interactive situations makes it difficult to scale only the text portions of interactive equations.  And since symbols are never like to get long in real-world scenarios, I decided that scaling the e

[2018-11-16 21:58] #105 closed

[2018-11-16 22:38] pixelzoom commented on #106
Done, I was able to convert this with no changes to spacing, margins, etc.   Closing.

[2018-11-16 22:38] #106 closed

[2018-11-30 21:05] pixelzoom opened #107 "publish 1.3.0"
This sim is ready for re-publication.  The goal is to pick up:
* UI changes that make it consistent with Graphing Quadratics
* improved i18n
* general framework improvements

Assigning to @ariel-phet to schedule this.  Assign back to me when you're ready to publish.

[2018-12-05 23:15] pixelzoom opened #108 "review overlap of graphed lines and eye button"
Below is the worst case, with a bit of the arrow overlapping the button. This seems acceptable to me.  But @amanda-phet would like to review.

Note that this block sim publication.

![screenshot_933](https://user-images.githubusercontent.com/3046552/49550428-d960e400-f8a8-11e8-98eb-2239990f0f4d.png)

[2018-12-06 02:08] pixelzoom commented on #108
Also keep in mind that it may be a saved line that overlaps the eye button.  In that case, you can't just move the line, you have to erase all saved line.  But I still don't feel like that's a significant usability problem.

[2018-12-06 22:30] amanda-phet commented on #108
@pixelzoom do you need to revise #107? Or once this is wrapped up the sim will be ready (again) to publish?

[2018-12-06 22:55] pixelzoom commented on #108
The sim will be ready to publish when this issue is resolved. I'll note in #107.

[2018-12-06 22:55] pixelzoom commented on #107
Pending resolution of #107.

[2019-01-18 19:15] samreid opened #109 "Eliminate GamePhaseProperty"
Discovered in https://github.com/phetsims/axon/issues/213, BaseGameModel has this inner class:

[code]

It seems the whole purpose of this class is making sure one listener is called before the other listeners are called.  Axon Property and Emitter guarantee that listeners will be invoked in the order they are added and there is no API for changing the ordering of listeners.  Therefore, a better s

[2019-01-18 20:15] pixelzoom commented on #109
@samreid said:

Looking at both Property and Emitter, searching for "order', and reading the docs for `addListener`... There is currently nothing in the public contract that states that.  If you are basing that statement on the fact that the implementation currently uses an array and iterates in the order that listeners were added, that is not a "guarantee" and it's certainly not something that cl

[2019-01-19 22:40] pixelzoom commented on #109
I discovered that this TODO was added (with no issue number) and is apparently related to this issue:

Yes, I could accomplish this same thing by registering a first listener to initialize things for the game state before calling other listeners.  But that's a more fragile approach, and I don't see the point in introducing an order dependency (and potential maintenance issue) where there currently

[2019-01-20 05:18] samreid commented on #109
Can we discuss further and possibly get a second opinion?  I'm wondering if I'm the only developer who would come across that code and think it should be changed.

If I understand correctly, this patch would have the same behavior, but with 28 fewer lines of code and no need for a newly introduced class.

[code]

This simulation will one day be instrumented for accessibility and PhET-iO and it see

[2019-01-20 20:42] pixelzoom commented on #109
That's fine with me.  I'd also like to understand why you think this is important.

You have introduced an order dependency (a code smell) that I prefer not to have in my code.  Please explain why having an order dependency is preferable to my solution that has no ordering dependency.

For subclassing Property in general...   If you're inferring that we should have no sim-specific subclasses  of P

[2019-01-20 21:01] samreid commented on #109
It seems nice to eliminate 28 lines of code.  Less to maintain, understand, instrument, etc.  Less places for bugs to creep in.

Should we go through all the rest of PhET's code and identify and eliminate order dependencies?  Should we add code review checklist entries for it?  Do you think other PhET code has buggy order dependencies?

It seems nice to eliminate 28 lines of code.  Less to maintai

[2019-01-20 22:33] pixelzoom commented on #109
I would guess that there are order dependencies in PhET code, and they may or may not have manifested as bugs.  I'm not interested in spending my time proactively identifying them.

Avoiding ordering dependencies is a best practice that I thought every programmer was familiar with.  If you think it would be valuable to explicitly state that in the code-review checklist, feel free to add it.

I don

[2019-01-20 22:51] samreid commented on #109
If it is sometimes important to manage order of callbacks, perhaps AXON should support this directly instead of managing a one-off solution in a simulation?

[2019-01-20 23:04] pixelzoom commented on #109
That sounds like undesirable complication in AXON, it may encourage using expedient-but-inferior solutions, and I think it's preferable to find solutions that don't require order dependencies.   But if you want to write code that requires order dependencies, then you'll probably need something in AXON to make that robust.

[2019-01-21 03:55] pixelzoom commented on #109
I would wait until there is a general need. One instance is hardly general, and it seems like we're spending a strange amount of time on this, given all of the other more high-priority tasks that are not completed.

I may be wrong... But I seriously doubt that my past self would have done this if there hadn't been a legitimate need to do setup before `gamePhaseProperty` changes.  And I don't have

[2019-01-21 04:30] pixelzoom commented on #109
I see at least one error that will be introduced if `hook` isn't called before notifying listeners.  The the score will not have been updated and the clock will still be running.  So ResultsNode will display the wrong score, time, and best time.

[2019-01-21 04:52] samreid commented on #109
The proposal in the preceding comment seems preferable to me.  Extending Property to add something that is like a listener but not a listener seems odd.  It also had odd semantics that `hook` is called before any of the other logic in `Property.set` is called, including validation, `isDeferred` and regardless of whether `equalsValue` is going to pass.

Some possible ways to proceed:

1. Close this

[2019-01-21 04:52] pixelzoom commented on #109
Here's the patch for the solution I described in the previous commit.  It seems to work, but it will take me at least 30 minutes to properly regression test.   That would make close to 2 hours that I've spent on what is imo a non-issue.

[code]

[2019-01-21 05:06] pixelzoom commented on #109
I'm going to apply the above patch and test.

[2019-01-21 05:17] pixelzoom commented on #109
Patch applied and tested.  1.3.0 will be published in the near future (see #107), and this change will require a full test of the game by QA.    So labeling this issue as "fixed-pending-testing", and please DO NOT close this issue until QA has verified.

@samreid anything else to do here?

[2019-01-21 18:08] samreid commented on #109
I think this issue can be closed after QA has verified it.

[2019-01-29 22:52] ariel-phet commented on #107
@pixelzoom feel free to get an RC and test issue ready for this sim anytime after February 4

[2019-01-30 00:03] pixelzoom commented on #103
@amanda-phet Heads up - RC testing for 1.3.0 release will start next week.

[2019-01-31 19:14] amanda-phet commented on #103
Teacher tips are updated and ready to upload when the sim is published. I am not going to worry about activities/primer video.

[2019-01-31 19:48] pixelzoom commented on #107
1.3.0-rc.1 is now in RC testing, see https://github.com/phetsims/QA/issues/277.

[2019-02-04 17:58] KatieWoe commented on #67
Confirmed 1.3.0-rc.1

[2019-02-04 17:58] #67 closed

[2019-02-04 17:59] samreid commented on #109
Before QA tests this, should we discuss whether `Property` should have `before` and `after` options, like we discussed for `Emitter`?

[2019-02-04 18:34] pixelzoom commented on #109
Yes, I could revert everything I've changed here and use `Property` with `before` option.  But there was nothing wrong with my original solution, there's nothing wrong with the compromise solution (other than the fact that I prefer my original solution).   And I don't think that there's any benefit in changing this yet again, or holding up the RC process.

@ariel-phet your opinion?

[2019-02-04 18:40] lmulhall-phet commented on #94
@amanda-phet @pixelzoom are we OK with the math text being bold?

GSI 1.1.0-rc.1
![screen shot 2019-02-04 at 11 37 09 am](https://user-images.githubusercontent.com/31285590/52229137-64daff00-2871-11e9-9ce5-9ffffa21c153.png)
![screen shot 2019-02-04 at 11 37 16 am](https://user-images.githubusercontent.com/31285590/52229144-67d5ef80-2871-11e9-839d-1babaf12b304.png)

GQ screenshot used by @pixelzoom

[2019-02-04 18:44] samreid commented on #109
I believe we have thus far only discussed and implemented `before` for `Emitter`.

I'm fine with any of the proposed solutions, including the original solution.  The different solutions have minor pros and cons but they don't seem too important.  Up to you or @ariel-phet how to proceed.

[2019-02-04 18:50] pixelzoom commented on #94
This issue deals with the font (not the font weight, e.g. 'bold') used for math symbols.  Font and weight are specified separately. The font weight remains the same as it was in the published version of Graphing Lines and Graphing Slope-Intercept.

That said... Graphing Lines and Graphing Slope-Intercept use `weight: 'bold'` a lot, while Graphing Quadratics uses bold much more judiciously (and to

[2019-02-04 18:56] amanda-phet commented on #94
When we made the decision to use the math font in this sim, we all agreed the appearance looked good (even if we didn't explicitly discuss the weight). I am happy keeping it bold, and I think it works well in this sim next to all of those pickers.

[2019-02-04 18:57] pixelzoom opened #110 "adjust font weight?"
Over in https://github.com/phetsims/graphing-lines/issues/94#issuecomment-460362188, @lmulhall-phet questioned the use of `weight: 'bold'` for math symbol fonts.

I noted:

Questions for @amanda-phet:

(1) Do we want all sims to have similar use of bold?  Or is the current discrepancy OK?  If the latter, please close this issue.

(2) If a change is desired, does this issue need to be addressed for

[2019-02-04 18:58] pixelzoom commented on #110
In https://github.com/phetsims/graphing-lines/issues/94#issuecomment-460367643, @amanda-phet said:

So closing this issue.

[2019-02-04 18:58] #110 closed

[2019-02-04 18:58] pixelzoom commented on #94
Back to you @lmulhall-phet.

[2019-02-04 18:59] amanda-phet commented on #110
In general, I tend to go with a medium/regular weight, not bold, but I don't think it's a decision that needs to be consistent across sims.

[2019-02-04 19:00] lmulhall-phet commented on #94
We'll close this issue after testing on a few more platforms.

[2019-02-04 19:10] ariel-phet commented on #109
I see no clear benefit to making any more changes. Let's continue with the RC as is.

[2019-02-04 19:23] KatieWoe opened #111 "New best given for bad time and imperfect score"
For https://github.com/phetsims/QA/issues/277
I had beaten this level with all stars at about a minute, then beaten it much slower without all the stars, but it still gave me this dialog.  I'm trying to recreate it, but haven't so far.  I was wondering if it was part of this issue: https://github.com/phetsims/graphing-lines/issues/109, or a separate issue of its own.  Was not able to replicate on

[2019-02-04 19:41] KatieWoe commented on #89
Confirmed in both Graphing Lines and Graphing Slope-Intercept

[2019-02-04 19:41] #89 closed

[2019-02-04 19:42] pixelzoom commented on #111
Here's what I tried, and I can't reproduce the problem, everything looks correct:

1. Run Graphing Lines 1.3.0-rc.1 with ?showAnswers
2. Go to Line Game screen
3. Turn on the timer
4. Select level 1
5. Play level 1 perfectly, but leisurely. The results are:

<img width="312" alt="screenshot_1012" src="https://user-images.githubusercontent.com/3046552/52232464-d8810a00-2879-11e9-9177-86defa8c920a.p

[2019-02-04 19:44] KatieWoe commented on #111
This is essentially what I've been trying.  I've tried turning the sound on and off.  I can't think of anything different I did when I found those two instances.  I've been trying in incognito mode to avoid caching, but still no luck.  Sorry.

[2019-02-04 19:45] pixelzoom commented on #111
@samreid asked in Slack about `BaseGameModel`:

Is this in the correct order?

[code]

[2019-02-04 19:53] pixelzoom commented on #111
Yes, that's in the correct order.  The array of best scores is irrelevant to the "results" display, displayed for GamePhase.RESULTS.   They are relevant on the level-selection screen, GamePhase.SETTINGS, which will be visible after the user presses the Continue button.

[2019-02-04 20:11] KatieWoe opened #112 "Color in point tool turns black when problem is solved"
For https://github.com/phetsims/QA/issues/277 and https://github.com/phetsims/QA/issues/278
May be connected to https://github.com/phetsims/graphing-lines/issues/89.  Did not appear in published version of graphing lines.

When you use the point tool on the green line in a game level the color of the point tool turns green.  However, when you have solved that problem, the color turns black.  It do

[2019-02-04 20:15] lmulhall-phet opened #113 "update icons for game levels"
The art for PhET Girl looks outdated to me. Might be a good long-term goal to update the art.

![screen shot 2019-02-04 at 1 12 01 pm](https://user-images.githubusercontent.com/31285590/52234366-b3db6100-287e-11e9-8960-86224e9f0be1.png)
![screen shot 2019-02-04 at 1 14 04 pm](https://user-images.githubusercontent.com/31285590/52234390-c6ee3100-287e-11e9-9a97-efcd5a09b765.png)

[2019-02-04 20:33] KatieWoe commented on #91
Graphing Lines and Graphing Slope Intercept look ok.

[2019-02-04 20:33] #91 closed

[2019-02-04 20:37] pixelzoom commented on #111
@phet-steele provided the following clues on Slack:

1. complete a level perfectly
2. complete the same level perfectly, faster
3. try the same level again and just skip all the prompts to see the bug

I'm thinking it is just visual though, since the time under the level select button does not change

I'm telling you, isNewBestTime has to be true! otherwise we would never fall into https://github.

[2019-02-04 20:42] pixelzoom commented on #113
@ariel-phet @amanda-phet Any reason to do this in the current RC, since this release is supposed to be (primarily) a "visual refresh"?

[2019-02-04 20:47] pixelzoom commented on #112
@KatieWoe I'm not able to reproduce this.  It might be specific to certain types of challenges, and the screenshot above is cropped.  Can you please provide move specific steps (level) and screenshots of the challenge before and after solving it?  Thanks.

[2019-02-04 20:47] KatieWoe commented on #111
Can confirm this method.  Addition: you can repeat step three to keep seeing the results.  The message pops up whether speed was faster or not.

[2019-02-04 20:58] KatieWoe commented on #112
I saw on any challenge that had a green set line (I was on level one).  The ones with a black line had a similar problem where they turned green when solved, but the pointer tool didn't change.  Here are two examples, before and after being solved.  I was on Win 10 chrome.
![yes1](https://user-images.githubusercontent.com/41024075/52236667-b0e36f00-2884-11e9-8842-f2d1f4241ffb.jpg)
![yessolve1](htt

[2019-02-04 20:59] KatieWoe commented on #112
Just reproduced on Mac 10.14 safari.

[2019-02-04 21:10] KatieWoe commented on #92
Looks good on Graphing Lines and Graphing Slope Intercept

[2019-02-04 21:10] #92 closed

[2019-02-04 21:46] KatieWoe commented on #97
Looks good to me 1.3.0-rc.1

[2019-02-04 21:46] #97 closed

[2019-02-04 22:30] KatieWoe opened #114 "Slope writing is inconsistent size"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/277
The words "Slope is ___" on the Slope screen are smaller on the active line then the saved lines.  This is most noticeable when you hit save line and the two overlap.  Does not occur on published version.
**Steps to reproduce:**
1. Set stringTest=double
2. G

[2019-02-04 22:32] pixelzoom commented on #114
They probably have different `maxWidth` values.

[2019-02-04 22:36] pixelzoom commented on #114
Hmmm... When the sim is first started, the sizes the same, see screenshot below.  Then after playing with the sim for awhile, the equation on interactive line becomes smaller.  Are you seeing this too @KatieWoe?

<img width="904" alt="screenshot_1019" src="https://user-images.githubusercontent.com/3046552/52241973-7b458280-2892-11e9-8f66-8cd24e3d29aa.png">

[2019-02-04 22:37] KatieWoe commented on #114
Yes.  Now that I refresh, I do.

[2019-02-04 22:38] pixelzoom commented on #114
It looks like making a vertical line ("Slope is undefined") is the action that makes the interactive line's label reduce its size.

[2019-02-04 22:40] KatieWoe commented on #114
Looks like.  And now that you mention it, something similar happens at that spot on the other two screens as well, but mostly noticeable when at the undefined spot.

[2019-02-04 22:41] KatieWoe commented on #114
And in https://github.com/phetsims/QA/issues/278, now that I know more what to look for

[2019-02-04 22:44] ariel-phet commented on #113
No need in the current RC. However, I will put this on @megan-phet radar

[2019-02-04 22:55] pixelzoom commented on #113
Current artwork files are:

[game_level_icons.ai](https://github.com/phetsims/graphing-lines/blob/master/assets/game_level_icons.ai)
[Level_1.png](https://github.com/phetsims/graphing-lines/blob/master/images/Level_1.png)
[Level_2.png](https://github.com/phetsims/graphing-lines/blob/master/images/Level_2.png)
[Level_3.png](https://github.com/phetsims/graphing-lines/blob/master/images/Level_3.png)

[2019-02-04 23:18] KatieWoe opened #115 "Green line layered over black point"
For https://github.com/phetsims/QA/issues/277
There are occasions when, upon finishing a game level, the green "correct" line overlaps a point on the black "your" line.  This causes an odd effect as seen bellow.  Seen during Level one game.  Specific type of question shown bellow.
![cutover](https://user-images.githubusercontent.com/41024075/52243884-623fd000-2898-11e9-858e-3b27a5dd7d77.jpg)
![cut

[2019-02-04 23:32] KatieWoe opened #116 "LoL sound continues after pause"
For https://github.com/phetsims/QA/issues/277
The sounds in the game do not pause when the legends of learning harness is paused.  Likely to be deferred as in https://github.com/phetsims/fractions-common/issues/80.

[2019-02-04 23:35] pixelzoom commented on #116
Is this the "cheering" game reward sound?

[2019-02-04 23:36] KatieWoe commented on #116
Most noticeable, as it is the longest.  Happens with the other sounds as well though, such as the "ding you got it right" sound.

[2019-02-04 23:43] pixelzoom commented on #116
Questions:

@jbphet: There's currently no API for pausing these sounds.  Is that supported in the new sonification sound API?

@arouinfar @ariel-phet @samreid I was under the impression that there was nothing that need to be changed in a sim to make it work for LoL.   Is LoL expecting to use some API (PhET-iO?) to pause sound?

[2019-02-04 23:51] pixelzoom commented on #115
At first I thought this was a layering issue.  But now I believe that there's a green point on top of the black point (and in front of the green line) that isn't being made visible.

[2019-02-04 23:55] pixelzoom commented on #115
At first I thought this was a layering issue. But now I believe that there's a green point on top of the black point (and in front of the green line) that isn't being made visible for correct answers.

For example, consider this challenge:

<img width="904" alt="screenshot_1021" src="https://user-images.githubusercontent.com/3046552/52245159-a5507200-289d-11e9-8816-31434fa22f14.png">

If I have an

[2019-02-04 23:59] KatieWoe opened #117 "Short max widths for game answers"
For https://github.com/phetsims/QA/issues/277 and https://github.com/phetsims/QA/issues/278
When the correct answer is given on a game level and it says "your line" (the one written in black) in the bottom box, the answer string is very short.  This can be noticeable without string Tests if the string is long enough.  easiest to see with stringTest=long.
![smallmaxwidths](https://user-images.githu

[2019-02-05 00:09] pixelzoom commented on #115
Fixed in the above commit.  @KatieWoe could you please test in master?  If it looks OK, please leave this issue open so that we can regress in the next RC.

[2019-02-05 00:31] arouinfar commented on #116
I feel like I've seen some iteration of this same issue pop up for just about every sound-containing sim being tested in the LoL harness. @KatieWoe has there been an related issue in a common repo?

@pixelzoom you may find https://github.com/phetsims/resistance-in-a-wire/issues/194#issuecomment-460123581 helpful. I don't really know anything about the technical aspects of LoL support.

In the LoL

[2019-02-05 00:33] pixelzoom commented on #89
Fixed in the above commit. @KatieWoe please verify in master. If it looks OK, please leave this issue open to regression test in the next RC.

[2019-02-05 00:34] pixelzoom commented on #112
Fixed in the above commit. @KatieWoe please verify in master. If it looks OK, please leave this issue open to regression test in the next RC.

[2019-02-05 00:39] pixelzoom commented on #117
EquationBoxNode is used for both the guess and answer boxes, where the equation's `maxWidth` is set like so:

[code]

So I can't immediately speculate on why the answer equation would be smaller.

[2019-02-05 01:51] samreid commented on #116
We already discussed this problem and proposed a solution in https://github.com/phetsims/tambo/issues/51

[2019-02-05 01:52] pixelzoom commented on #117
Cleanup and fix in the above commits.

This was a problem with 'Graph The Line' type challenge, as identified in the upper-left corner of the screen when running with `?showAnwers`. E.g.:

![1](https://user-images.githubusercontent.com/3046552/52248616-886f6b00-28ac-11e9-92e5-a70c73f51aa2.jpg)

It now behaves properly with `stringTest=long`, e.g.:

<img width="903" alt="screenshot_1028" src="https

[2019-02-05 01:53] pixelzoom commented on #116
But that solution assumes that the sim is using tambo, correct?  This sim is still using vibe.

[2019-02-05 01:57] samreid commented on #116
That issue is for tambo.  https://github.com/phetsims/vibe/issues/33 is for rewriting vibe to use tambo.

Correct me if I'm wrong, but if vibe only supports pre-recorded samples, and not long-running dynamically generated sound, then it is probably fine if the sound completes after pause is pressed.

@KatieWoe's original note:

Seems appropriate to me.

[2019-02-05 02:02] pixelzoom commented on #116
Or perhaps we should close this and other sim-specific issues that identify this as a "bug", and formulate a plan based on phetsims/vibe#33 (porting to tambo) and phetsims/tambo#51 (handling pause in tambo).

[2019-02-05 02:08] pixelzoom commented on #116
@amanda-phet @ariel-phet does this need to be addressed for the current RC, or can it be deferred until we have a general plan?  (See https://github.com/phetsims/tambo/issues/57.)

[2019-02-05 03:51] pixelzoom commented on #114
@KatieWoe please verify in master. If it looks OK, then leave this issue open for regression testing in next RC.

[2019-02-05 04:52] pixelzoom commented on #111
@phet-steele commented:

`updateBestTime` handles the checking. It's a no-op if the timer is off, or if the score isn't perfect.

[2019-02-05 05:19] pixelzoom commented on #111
@phet-steele emphatically asserted the hypothesis:

Bingo - that was indeed the problem.  `this.isNewBestTime = false` needed to be outside the `if` statement in `updateBestTime`.  See https://github.com/phetsims/graphing-lines/commit/e0b0b1c14d70bb7e51375bbbdee3c380328c0f12.

@KatieWoe or @phet-steele please verify in master.  If it looks OK, please leave this issue open for regression testing in

[2019-02-05 16:07] KatieWoe commented on #115
Looks good on master.

[2019-02-05 16:08] KatieWoe commented on #112
Looks good on master

[2019-02-05 16:09] KatieWoe commented on #89
#112 looks good on master

[2019-02-05 16:14] KatieWoe commented on #117
Looks good on master

[2019-02-05 16:17] KatieWoe commented on #114
looks good in master

[2019-02-05 16:25] KatieWoe commented on #111
This looks ok on master

[2019-02-05 16:59] pixelzoom commented on #115
Pending regression testing in 1.3.0-rc.2.

[2019-02-05 17:00] pixelzoom commented on #112
Pending regression testing in 1.3.0-rc.2.

[2019-02-05 17:01] pixelzoom commented on #117
Pending regression testing in 1.3.0-rc.2.

[2019-02-05 17:03] pixelzoom commented on #111
Pending regression testing in 1.3.0-rc.2.

[2019-02-05 17:50] ariel-phet commented on #116
@pixelzoom does not need to be addressed for current RC

[2019-02-05 19:56] pixelzoom opened #118 "initial line is sometimes the correct answer in game"
Related to https://github.com/phetsims/QA/issues/277 (1.3.0-rc.1 test).

@KatieWoe noted that there is a chance that the starting position of a line happens to be the correct answer to a problem.  Our conclusion (see Slack discussion below) was "that's OK".   So nothing to do here, but noting for posterity.

<details>
<summary>Slack conversation</summary>

Kathryn Woessner [12:43 PM]
I noticed on

[2019-02-05 19:57] #118 closed

[2019-02-05 20:51] KatieWoe commented on #115
Actually, I think I found another way to get this, and it is occurring on master.  For levels that have you use the spinners to complete point slope form, get it wrong, and then move your line to line up with the answer, but with the black spot in another area.  This may be acceptable, since they can move the spot to match up with the green spot.  Up to you @pixelzoom if you want to pursue this.
!

[2019-02-05 21:31] pixelzoom commented on #115
No, not acceptable.  Lines should always be behind points and manipulators.  I'll investigate.

[2019-02-05 22:00] pixelzoom commented on #115
Note to self.  The ordering of points and lines is specified in `ChallengeGraphNode`.   Things are currently layered based on whether they are related to the "guess" or the "answer", with all things related to the answer being in front of the guess.  I need to investigate changing this so that ordering is (back to front): lines, points, manipulators, point tools.

[2019-02-06 22:23] KatieWoe opened #119 "Pink shadow stays behind when manipulator is moved"
For https://github.com/phetsims/QA/issues/278.  Likely to also be found in https://github.com/phetsims/QA/issues/277
Reminds me of https://github.com/phetsims/wave-interference/issues/238, though that was solved by a firefox update.
This was found on Level 3 of Graphing Slope-Intercept on Firefox on Mac 10.14.  I was able to see this very briefly on Win 10 firefox, but the effect disappears on its

[2019-02-07 04:07] pixelzoom commented on #115
I made major changes to `ChallengeGraphNode` in the above commits.  The rendering order (back to front) is now:  guess line, answer line, guess point, answer point, slope indicators, manipulators, point tools.    So lines will always be behind points.

The main risk with this change is that some point won't be made visible when it should.  I stepped through all of the levels, compared to the publi

[2019-02-07 15:48] KatieWoe commented on #115
I didn't run into any problems on master.  I think this looks good

[2019-02-07 16:56] pixelzoom commented on #115
Pending regression testing in 1.3.0-rc.2.

[2019-02-07 20:57] rea-laura opened #120 "Active line label overlaps with y=x, y=-x lines in long and rtl string tests"
<b>Test Device</b>

Leibniz

<b>Operating System</b>

iOS 12.1.3

<b>Browser</b>

Safari 12.1.3

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/277:
When y=x or y=-x lines are activated and the interactive line is overlaid over these green lines, the labels overlap, but only on some string tests.

<b>Steps to Reproduce</b>

1) go to sim with either long or rtl string test qu

[2019-02-07 21:52] pixelzoom commented on #120
Thanks @rea-laura, I'll investigate.

I was hoping that `?stringTest=double` would make it a little easier to see what's going on.  But that looks fine:

<img width="1415" alt="screenshot_1030" src="https://user-images.githubusercontent.com/3046552/52445206-ae348400-2ae7-11e9-9837-732235c741c9.png">

[2019-02-07 22:35] pixelzoom commented on #120
I said:

To test this...

In `LineFormsGraphNode`, I added this to the constructor:

[code]

And I modified `standardLineAdded` like so:

[code]

Start the sim, go to Slope-Intercept screen, 'y = x' checkbox checked.  Console output is:

[code]

So `maxWidth` is the same (200) for the equations on the interactive line and y=x.

[2019-02-07 23:01] pixelzoom commented on #120
Odd...  If I move the interactive line from y=x, to y=0, then back to y=x, the problem (permanently!) goes away.   The interactive equation then perfectly overlaps y=x (and y=-x).

[2019-02-07 23:30] pixelzoom commented on #120
My WAG in the preceding comment was correct.  So this was easily fixed by fully resetting the location of all equation subcomponents (Nodes) whenever the equation updates, see commit above.

A potential risk of this fix is that some equation was relying on the location of a previous update, and some part of the equation would be in the wrong location.  I looked carefully at equations in Slope-Inte

[2019-02-08 19:46] KatieWoe commented on #120
To me this looks like the same issue as https://github.com/phetsims/graphing-lines/issues/114, as that only occurred with longer strings.

[2019-02-08 19:48] KatieWoe commented on #108
This case could use some review.
![numberovereye](https://user-images.githubusercontent.com/41024075/52502370-d384c900-2b9f-11e9-9319-e0c312567145.jpg)

[2019-02-08 22:20] pixelzoom commented on #120
@KatieWoe it's actually a subtly different issue.

[2019-02-08 22:25] pixelzoom commented on #108
We could try to mitigate overlap of the slope indicator towards the edges of the graph.  But we're likely to create other problems and (at this point) break something else.  The "eye" button is still usable, and the user can eliminate the overlap by simply moving the manipulator, or turning off the slope indicator.  So my recommendation is to leave this as is.  @amanda-phet your opinion?

[2019-02-08 22:37] pixelzoom commented on #120
To verify this issue:

1. Start the sim with normal strings (no stringTest query parameter)
2. Go to Slope-Intercept screen
3. Select check boxes for y=x and y=-x.
4. Move the interactive line to y=x and verify that the equation on the interactive (black) line exactly covers the equations on the y=x (green) line.
5. Repeat step 4 for y=-x.
6. Go to Point-Slope screen.
7. Repeat steps 3-5
8. Re-sta

[2019-02-08 22:44] pixelzoom commented on #120
You could also do the above verification steps 1-7 for a RTL language, but `stringTest=long` is essentially testing the same code path.

[2019-02-08 22:47] KatieWoe commented on #120
Looks good on master.

[2019-02-08 23:51] KatieWoe commented on #109
Haven't seen any problems here in either RC.  Closing

[2019-02-08 23:51] #109 closed

[2019-02-09 02:15] pixelzoom commented on #120
Pending regression testing in 1.3.0-rc.2.

[2019-02-09 02:18] pixelzoom commented on #119
In Slack, @jonathanolson said:

[2019-02-09 02:46] megan-phet commented on #113
<img width="885" alt="screen shot 2019-02-08 at 7 45 00 pm" src="https://user-images.githubusercontent.com/40698031/52515540-2da28000-2bda-11e9-9314-3131e1b71e0f.png">

How is this?

[2019-02-09 14:48] pixelzoom commented on #119
The above commit uses the `renderer: 'canvas'` workaround, applied only to the manipulator's "halo".  In Manipulator.js:

[code]

Tested on all iOS 12.1.3 and macOS 10.14.2 with all supported browsers.

@KatieWoe please verify in master. If all looks OK, leave open for regression testing in next RC.

[2019-02-09 15:10] pixelzoom commented on #113
@amanda-phet has the final say, but I think these look great.

@amanda-phet would you like me to incorporate these into the current RC? Assuming that file sizes and padding are identical to the original icons, it would be relative easy to substitute these new icons. It could be a long time before these sims are published from master again, and since this RC deals with "visual improvements", it wou

[2019-02-11 04:05] amanda-phet commented on #113
These are super cute @megan-phet !

Since the sim game screen background is yellow in GL and aqua in GSI, I'd like to adjust the colors a tiny bit. Can you make the shirt blue (similar to the original) or red maybe? And the line either green (like the original- to match the green y=x line in the sim) or black?

[2019-02-11 15:56] KatieWoe commented on #119
Also looks good on master on firefox Win 10 and Mac 10.13

[2019-02-11 16:19] amanda-phet commented on #108
Good find @KatieWoe . I don't like this at all, but since you can only get here by switching the points around (which is somewhat tricky to do, less so on the slope screen but especially on the point-slope screen), I would like to just leave it as-is. I wish we had found it earlier, but at this point I think we need to move on.

[2019-02-11 16:19] #108 closed

[2019-02-11 17:02] pixelzoom commented on #119
Pending regression testing in the next RC.

[2019-02-11 17:08] KatieWoe opened #121 "Layering saved line under/over green lines"
For https://github.com/phetsims/QA/issues/277 and https://github.com/phetsims/QA/issues/278
The green line appears to layer over the saved lines, but the pointer tool sticks to the saved lines over the green lines when they overlap.  Not sure which is intended to be out front.
![layersone](https://user-images.githubusercontent.com/41024075/52580103-e50ae280-2de4-11e9-892d-3aacfe23a91d.jpg)
![layer

[2019-02-11 17:42] KatieWoe opened #122 "Slope indicators go off the screen when in the game screen"
For https://github.com/phetsims/QA/issues/277 and https://github.com/phetsims/QA/issues/278.  This does occur in the published version.
It is possible to make the blue slope markers go off the screen when in the game screen.
To do this, find a level where you make a line with the spinners and ideally can control both height and slope.  This can be done without control of both as long as the one no

[2019-02-11 18:11] pixelzoom commented on #122
Here's another more extreme example with `?showAnswers`, where the slope indicator really is outside the layoutBounds.

<img width="764" alt="screenshot_1036" src="https://user-images.githubusercontent.com/3046552/52583795-b9402a80-2ded-11e9-9cf9-5156bda80946.png">

[2019-02-11 18:13] pixelzoom commented on #122
In order to keep the slope indicator inside the layoutBounds (and on the graph), I'd need to invert it.   And in the 2 examples above, that would look like -4,-2 and -10,-10 respectively, which are not the rise and run values that the user has entered.  So whether we view this as a "teachable moment" or a limitation of the sim, I don't think it's something we should change.

@amanda-phet do you ag

[2019-02-11 18:14] amanda-phet commented on #122
Wow! That is super easy to reproduce. What can we possibly do here? I will think about it.

[2019-02-11 18:17] amanda-phet commented on #122
@pixelzoom you think we should not change it? Or did I misread what you said? I like your suggestion to invert it, since that is what we would probably do with pencil and paper. But since it's been around for a while I wonder if was actually a known issue and we decided to leave it. It does have a familiar ring to it.

I think it would be good to check with @ariel-phet since he has a better unders

[2019-02-11 18:19] pixelzoom commented on #122
We generally don't like to have things go off screen.  But in this case, I'm wondering why we'd want to do change anything.  The current behavior accurately depicts the slope that the user has entered, and shows them that what they entered is "off screen" in perhaps the clearest way possible.

[2019-02-11 18:21] pixelzoom commented on #122
@amanda-phet asked:

I didn't suggest inverting, I pointed out the problems with inverting.  So no, I don't think we should change anything, see https://github.com/phetsims/graphing-lines/issues/122#issuecomment-462436004.

[2019-02-11 18:54] pixelzoom commented on #121
This seems similar to https://github.com/phetsims/graphing-lines/issues/89, but involves a saved line and a "standard" line (y=x, y=-x).

[2019-02-11 19:07] amanda-phet commented on #121
@pixelzoom thanks for finding that issue- I was looking for it! If we can prioritize the active/black line, then green line, then gray/saved line, I think that makes the most sense.

[2019-02-11 19:16] pixelzoom commented on #121
The problem was that the model and view were using different orders for the lines.  Fixed in the above commits.  The order in model and view is now interactive line, standard lines, saved lines.

@KatieWoe please test in master.  Here's a quick test procedure that covers all of the cases:

1. Start Graphing Lines.
2. Go to Slope-Intercept screen.
3. Change interactive equation to y = 4/4 + 0
4. Pr

[2019-02-11 19:21] KatieWoe commented on #121
Looks good on master

[2019-02-11 19:28] pixelzoom commented on #121
Pending regression testing in the next RC.

[2019-02-11 19:30] pixelzoom commented on #113
FYI, the green used for y=x line in the sim is `rgb( 16, 178, 15 )`.

[2019-02-11 19:36] pixelzoom commented on #113
FYI, here are specific colors:

* `y = x` and `y = -x` lines: `rgb( 16, 178, 15 )`
* Screen backgrounds in Graphing Lines: `rgb( 255, 255, 214 )`
* Screen backgrounds in Graphing Slope-Intercept: `rgb( 226, 255, 249 )`
* Level selection buttons that the icons appear on: `rgb( 180, 205, 255 )`

[2019-02-11 21:17] pixelzoom commented on #113
We're ready to start another round of RC testing for GL and GSI.

@amanda-phet dfo you want me to wait for the new game icons? If so...

@megan-phet when might you be able to make the changes requested in https://github.com/phetsims/graphing-lines/issues/113#issuecomment-462214754?

[2019-02-11 21:20] pixelzoom commented on #94
@lmulhall-phet @KatieWoe Since phetsims/QA#277 and phetsims/QA#278 have been completed, can this issue be closed?

[2019-02-11 21:21] KatieWoe commented on #94
Yes

[2019-02-11 21:21] #94 closed

[2019-02-11 22:42] ariel-phet commented on #113
@pixelzoom since these are ready, yes, do wait for the the new game icons

[2019-02-11 22:50] megan-phet commented on #113
@ariel-phet, @amanda-phet might still make some changes, but I'll put what I have on the Google drive.

[2019-02-11 22:56] ariel-phet commented on #122
@pixelzoom I think we should mark this as "won't fix"

The sim has been used extensively already in Java and HTML5, and we have not received any comments of this nature. Is it ideal to have things go off screen....not really, but I am not sure there is any particularly great solution that is worth the extra cost/complexity at this point.

[2019-02-12 00:04] pixelzoom commented on #122
OK, closing this as "won't fix".

@KatieWoe thank you again for reporting.

[2019-02-12 00:04] #122 closed

[2019-02-12 00:39] pixelzoom commented on #113
Removing the "priority:medium" label, since it's desired to include this in the current release.

[2019-02-12 01:34] amanda-phet commented on #113
artwork should be good to go. Thanks @lmulhall-phet for pointing this out, and @megan-phet for your quick turnaround on the artwork!

@pixelzoom can you check that everything looks ok?

[2019-02-12 01:44] pixelzoom commented on #113
Icons look great.  @amanda-phet and @lmulhall-phet please verify in master, or in these dev versions: [Graphing Lines 1.4.0-dev.1](https://phet-dev.colorado.edu/html/graphing-lines/1.4.0-dev.1/phet/graphing-lines_en_phet.html), [Graphing Slope-Intercept 1.2.0-dev.1](https://phet-dev.colorado.edu/html/graphing-slope-intercept/1.2.0-dev.1/phet/graphing-slope-intercept_en_phet.html).

[2019-02-12 01:49] pixelzoom commented on #103
@amanda-phet Since the game level icons were updated in #113, are there any related materials that need to be updated?

[2019-02-12 16:26] amanda-phet commented on #113
These look great to me!

[2019-02-12 16:43] amanda-phet commented on #113
@megan-phet and I both noticed that in level 4, PhET girls foot isn't quite touching the line. I wasn't sure how to fix it, but Megan can fix it in 2 hours, so I'll try to commit that change before @pixelzoom does the next RC.

[2019-02-12 17:26] pixelzoom commented on #113
OK, let me know when the fix is pushed to master, so that I can cherry-pick it to the 1.3 release branch.

Then please leave the issue open for regression testing in 1.3.0-rc.2.

[2019-02-12 18:43] megan-phet commented on #113
Fixed

[2019-02-12 18:44] amanda-phet commented on #113
new Level 4 icon and ai asset file are uploaded.

[2019-02-12 18:56] pixelzoom commented on #113
Looks good, see master screenshot below.  Patch applied to 1.3 branch.

Pending regression testing in 1.3.0-rc.2.

<img width="923" alt="screenshot_1040" src="https://user-images.githubusercontent.com/3046552/52660550-2242a380-2ebd-11e9-80ff-297a43d8834a.png">

[2019-02-12 18:59] pixelzoom commented on #107
1.3.0-rc.1 testing was completed on 2/11/19.

[2019-02-12 19:16] pixelzoom commented on #107
1.3.0-rc.2 is now in RC testing, see https://github.com/phetsims/QA/issues/283.

[2019-02-12 19:47] pixelzoom opened #123 "update credits for 1.3.0 release"
Current credits are shown below.  @amanda-phet @KatieWoe anything to add?

<img width="761" alt="screenshot_1041" src="https://user-images.githubusercontent.com/3046552/52663640-51a8de80-2ec4-11e9-863a-cc1a9579998a.png">

[2019-02-12 19:49] KatieWoe commented on #123
Liam, Laura, Jacob, and myself should be added to QA

[2019-02-12 20:13] pixelzoom commented on #123
Additions to QA credits have been completed.

[2019-02-12 20:15] pixelzoom commented on #123
Additions to QA credits have been completed:

<img width="762" alt="screenshot_1044" src="https://user-images.githubusercontent.com/3046552/52665220-4ce62980-2ec8-11e9-9f20-af4c5cb7ef9f.png">

[2019-02-12 22:27] KatieWoe commented on #111
Confirmed in both rcs.

[2019-02-12 22:27] #111 closed

[2019-02-12 22:29] KatieWoe commented on #113
Confirmed for bot rcs.

[2019-02-12 22:29] #113 closed

[2019-02-12 22:41] KatieWoe commented on #112
Confirmed in both rcs.

[2019-02-12 22:41] #112 closed

[2019-02-12 22:48] KatieWoe commented on #114
Confirmed in both rcs

[2019-02-12 23:03] KatieWoe commented on #115
Confirmed in both rcs.

[2019-02-12 23:03] #115 closed

[2019-02-12 23:08] KatieWoe commented on #117
There still seems to be a problem when the slope is undefined (seen in Graphing Lines level 1).
![slopeundefined](https://user-images.githubusercontent.com/41024075/52674309-73b05a00-2ee0-11e9-8155-eced6a7e816b.jpg)

[2019-02-12 23:15] KatieWoe commented on #119
I saw the "appears then quickly disappears" behavior on Win 10.  Seen in Graphing Lines Level 6.
![seenpinkflash](https://user-images.githubusercontent.com/41024075/52674642-6e9fda80-2ee1-11e9-9959-bf41c801955b.gif)

[2019-02-12 23:21] KatieWoe commented on #120
This seems to be occurring again.
![regress](https://user-images.githubusercontent.com/41024075/52674905-4795d880-2ee2-11e9-92e2-47194d359b81.jpg)

[2019-02-12 23:27] KatieWoe commented on #121
Looks good on both rcs.

[2019-02-12 23:27] #121 closed

[2019-02-12 23:41] pixelzoom commented on #119
My apologies, the fix in https://github.com/phetsims/graphing-lines/commit/ba2c684ce8a58c800816289386fa5f249ec04996 did not get cherry-picked into the 1.3 branch, so it's not in 1.3.0-rc.2.   Please skip this we'll come back to it in a quick 1.3.0-rc.3.

[2019-02-12 23:44] pixelzoom commented on #120
My apologies, the fix in https://github.com/phetsims/graphing-lines/commit/547817249e60e3aad415fd4c02cdd7875edd8934 did not get cherry-picked into the 1.3 branch, so it's not in 1.3.0-rc.2. Please skip this we'll come back to it in a quick 1.3.0-rc.3.

[2019-02-12 23:45] pixelzoom commented on #117
Thanks @KatieWoe.  Fixed in master and 1.3 in the above commits.  Please verify in master.   If all looks well, leaves this issue open for regression testing in 1.3.0-rc.3.

[2019-02-12 23:48] KatieWoe commented on #117
This looks solved on master

[2019-02-12 23:49] pixelzoom commented on #117
Pending verification in 1.3.0-rc.3.

[2019-02-12 23:57] amanda-phet commented on #123
Can you add Megan Lai to graphic arts?

[2019-02-13 00:07] pixelzoom commented on #123
Additions to Graphic Arts credits have been completed:

<img width="757" alt="screenshot_1047" src="https://user-images.githubusercontent.com/3046552/52676807-a0686f80-2ee8-11e9-980a-cb6509cafd50.png">

[2019-02-13 00:07] pixelzoom commented on #123
Pending verification in 1.3.0-rc.3.

[2019-02-13 00:26] pixelzoom commented on #107
1.3.0-rc.2 testing was completed on 2/12/19.
See [phetsims/QA#283](https://github.com/phetsims/QA/issues/283).

[2019-02-13 00:27] pixelzoom commented on #107
1.3.0-rc.3 was submitted for RC testing on 2/12/19, with 4 issues to verify.
See https://github.com/phetsims/QA/issues/286.

[2019-02-13 00:36] pixelzoom commented on #123
To verify this issue, run the sim and compare to the screenshot in https://github.com/phetsims/graphing-lines/issues/123#issuecomment-462996500.

[2019-02-13 00:37] pixelzoom commented on #120
To verify this issue, follow the steps in https://github.com/phetsims/graphing-lines/issues/120#issuecomment-461971005.

[2019-02-13 15:51] KatieWoe commented on #123
Confirmed

[2019-02-13 15:51] #123 closed

[2019-02-13 16:32] KatieWoe commented on #114
This error seems to be back in https://github.com/phetsims/QA/issues/286 and https://github.com/phetsims/QA/issues/287.
![regress](https://user-images.githubusercontent.com/41024075/52727352-41e7d380-2f72-11e9-8f74-4ebd19df968b.jpg)

[2019-02-13 16:57] pixelzoom commented on #114
Bummer. #114 and #117 are intertwined.  When I made the recent change for #117 (see https://github.com/phetsims/graphing-lines/issues/117#issuecomment-462989759), I did test #114, but apparently not well enough.

[2019-02-13 16:59] pixelzoom commented on #117
The most recent fix here broke #114 again, see https://github.com/phetsims/graphing-lines/issues/114.  So removing the "fixed-pending-testing" label.

[2019-02-13 16:59] pixelzoom commented on #117
The most recent fix here broke #114 again, see https://github.com/phetsims/graphing-lines/issues/114#issuecomment-463278911.  So removing the "fixed-pending-testing" label. And please ignore in phetsims/QA#286 and phetsims/QA#287.

[2019-02-13 18:03] KatieWoe opened #124 "Very slight pointer area overlap with number pickers"
For https://github.com/phetsims/QA/issues/286 and https://github.com/phetsims/QA/issues/287
There may be a bit of overlap in the down pointer area of of the numerator and the up arrow of the the denominator.  It hasn't caused any problems, and I'm not concerned about it.  Documenting Here.
![maybeoverlap](https://user-images.githubusercontent.com/41024075/52733052-f8ea4c00-2f7e-11e9-8aa7-f85b07ba8

[2019-02-13 19:22] KatieWoe commented on #120
Fixed in both rcs

[2019-02-13 19:22] #120 closed

[2019-02-13 21:07] KatieWoe commented on #119
This looks good for both rcs on Mac and Win

[2019-02-13 21:07] #119 closed

[2019-02-13 22:15] KatieWoe opened #125 "Firefox anti-aliasing allows obscured lines and equations to be seen"
For https://github.com/phetsims/QA/issues/287 and https://github.com/phetsims/QA/issues/286
Only seen on firefox Mac 10.14 so far.  It seems that sometimes, when a line or equation is "hidden" behind another, it can be seen somewhat.  Very minor.  This was first noticed with the green text of the y=x line behind the active line seen here (rtl not needed).  Also seen in the game when a green line i

[2019-02-13 22:29] pixelzoom commented on #125
My best guess is that Firefox text anti-aliasing has translucent pixels around the edges, which would cause what is behind it to show through.  @jonathanolson does that sound plausible, or do you an explanation?

In any case, my recommendation is to ignore this.  If anything, it's kind of nice, because it cues you to the fact that there's more than one line/equation in the same location.

[2019-02-13 22:31] pixelzoom commented on #125
@KatieWoe clarification about the title of this issue, which is "Firefox may have different line sizes".   This doesn't seem to have anything to do with line, it's the equation on the line.  Is that true, or am I missing something subtle in the screenshot above?

[2019-02-13 22:33] KatieWoe commented on #125
I meant line as in both the lines and the lines that make up text.

[2019-02-13 22:36] pixelzoom commented on #125
Ah yes, much more difficult to see (for me) with the line.  Below is a screenshot using Digital Color Meter to zoom in on the line.   This still looks like a symptom of how Firefox does anti-aliasing.

<img width="479" alt="screenshot_1054" src="https://user-images.githubusercontent.com/3046552/52748914-031f4100-2fa5-11e9-92cf-94d8b9911278.png">

[2019-02-13 22:37] KatieWoe commented on #125
I honestly only noticed that the line looked a bit more fuzzy, not the color.

[2019-02-13 22:49] pixelzoom commented on #125
There's a little bit of this in every browser that I've looked at.  For example:

macOS + Chrome with `y = x` off:

<img width="427" alt="screenshot_1057" src="https://user-images.githubusercontent.com/3046552/52749594-e257eb00-2fa6-11e9-9dcc-1067bc2927ee.png">

macOS + Chrome with `y = x` on:

<img width="442" alt="screenshot_1058" src="https://user-images.githubusercontent.com/3046552/52749606-e

[2019-02-13 22:53] KatieWoe commented on #125
Overall, I would agree that this doesn't need anything done.  Just documenting.

[2019-02-13 22:55] pixelzoom commented on #125
I talked with @jonathanolson about this on Slack.   It's definitely anti-aliasing.  It's probably more pronounced on Firefox because they're using a different rendering engine.  Using a different scenery `renderer` option for lines and equations might change the behavior, But I'd have to investigate, and that doesn't seem like time well-spent, because this issue is a (very minor) cosmetic blemish

[2019-02-14 05:00] amanda-phet commented on #125
I agree that it's almost a benefit, as @pixelzoom says, because it indicates that there are two layered equations/lines. Thank you for diving into the cause, and since it is an anti-aliasing issue and not something else (like the other string issues I was watching) I am happy to leave it as-is.

[2019-02-14 16:05] pixelzoom commented on #125
@KatieWoe thanks again for reporting.

Closing.

[2019-02-14 16:05] #125 closed

[2019-02-14 17:07] KatieWoe opened #126 "Delivery to LoL"
Graphing Lines and Graphing Slope-Intercept are not on the LoL Simulations spreadsheet, so they need to be delivered.

[2019-02-14 17:44] amanda-phet commented on #103
Updated!

[2019-02-14 20:04] KatieWoe opened #127 "Impossible challenge"
For https://github.com/phetsims/QA/issues/286#event-2135417335
On Level 3 of graphing lines the problem was given to use two points to make the line: y - 4 = 7/3 (x + 10).  However, only one point on this line falls in the 20x20 grid, meaning the correct line is impossible to create.
![28a7e07c-7929-44cd-9bf9-99bc128412f0](https://user-images.githubusercontent.com/41024075/52814305-0bd14f00-3059-1

[2019-02-14 20:10] KatieWoe commented on #127
Note that this seems very rare as I don't believe I have seen this during any of the testing before.

[2019-02-14 21:02] pixelzoom commented on #127
Slack:

Kathryn Woessner [1:29 PM]
Don't know if https://github.com/phetsims/graphing-lines/issues/127 could show up in GSI as well.  Probably, but I haven't seen it.

Chris Malley [1:32 PM]
GSI has an entirely different challenge generation engine.
#127 also shows a point-slope form equation, while GSI is limited to slope-intercept form.

Kathryn Woessner [1:49 PM]
Yeah.  The only thing I can thi

[2019-02-14 21:33] pixelzoom commented on #124
The problem was that the sim was using the mouseArea defaults for NumberPicker, and those need to be tweaked to support the numerator-over-denominator case.  So I've specified custom NumberPicker pointer areas in the above commits.  These values apply to all NumberPickers in the sim:

[code]

Here's how they look for the 3 equation forms:

<img width="335" alt="screenshot_1060" src="https://user-i

[2019-02-14 21:40] pixelzoom commented on #127
This is a `GraphTheLine` challenge with `EquationForm.POINT_SLOPE`.  Level 3 will have either 1 or 2 of these challenges. See `ChallengeFactory3` lines 64 and 88.

[2019-02-14 22:03] amanda-phet commented on #124
Looks like a good solution to me. Thanks @KatieWoe and @pixelzoom !

[2019-02-14 22:09] KatieWoe commented on #124
Confirmed on master

[2019-02-14 22:09] pixelzoom commented on #124
Pending regression testing in 1.3.0-rc.4.

[2019-02-14 22:21] pixelzoom commented on #127
There was indeed a bug in `ChallengeFactory3`, the challenge generator for level 3.  It's probably been present since the Java version.  This is going to be a little complicated to explain, but here goes...

If you run with `?shuffle=false&showAnswers`, challenges will be presented in the order that matches the design doc, and labeled in the upper left corner.  The challenge that we're interested

[2019-02-14 22:29] KatieWoe commented on #127
They are different points

[2019-02-15 01:20] pixelzoom commented on #127
Pending regression testing in 1.3.0-rc.4.

[2019-02-15 01:22] pixelzoom commented on #107
1.3.0-rc.3 testing was completed on 2/14/19.
See [phetsims/QA#286](https://github.com/phetsims/QA/issues/286).

[2019-02-18 22:22] pixelzoom commented on #114
@KatieWoe please verify this in master.  Check with #117, since they are related.

[2019-02-18 22:22] pixelzoom commented on #117
@KatieWoe please verify this in master.  Check with #114, since they are related.

[2019-02-18 22:58] KatieWoe commented on #114
Doesn't happen in the first screens, but still happens on game screens. @pixelzoom

[2019-02-18 22:58] KatieWoe commented on #117
Doesn't happen in the first screens, but still happens on game screens. @pixelzoom

[2019-02-18 23:10] pixelzoom commented on #117
@KatieWoe can you pleased elaborate?  What problem are you still seeing related to this issue? Below are screenshots for all of the cases that you've identified so far, and text in the bottom box is the full width of the box in all cases.

Similar to screenshot in https://github.com/phetsims/graphing-lines/issues/117#issue-406573705:

<img width="923" alt="screenshot_1071" src="https://user-images

[2019-02-18 23:12] pixelzoom commented on #114
@KatieWoe please elaborate, I don't understand.  Lines in the games are not labeled with equations, so how can this issue be relevant to the game screens?

[2019-02-18 23:15] KatieWoe commented on #117
Seen here:
![whatimeangame](https://user-images.githubusercontent.com/41024075/52980667-7277a500-3398-11e9-9c26-d5389a98c988.gif)

1. stringTest=double
2. Find a challenge where you control the slope
3. Get problem wrong and observe the length of the equation in the Your Line box.
4. Swing the line around as you would in the other screens
5. Observe changed size

[2019-02-18 23:16] KatieWoe commented on #114
See explanation https://github.com/phetsims/graphing-lines/issues/117#issuecomment-464918785

[2019-02-18 23:19] pixelzoom commented on #117
OK thanks.  This is a new problem, created by the fix for the reported problem.

[2019-02-18 23:20] pixelzoom commented on #114
OK, thanks.  So there's nothing wrong with the size of equations used to label lines on the graph, correct?

[2019-02-18 23:21] KatieWoe commented on #114
Didn't seem like it

[2019-02-18 23:32] pixelzoom commented on #117
@KatieWoe The problem reported in https://github.com/phetsims/graphing-lines/issues/117#issuecomment-464918785 is fixed, please verify in master.  Also verify that this doesn't break #114.

[2019-02-18 23:35] KatieWoe commented on #117
All looks good from what I can see

[2019-02-19 00:40] pixelzoom commented on #117
Pending regression testing in 1.3.0-rc.4.

[2019-02-19 00:40] pixelzoom commented on #114
Pending regression testing in 1.3.0-rc.4.

[2019-02-19 16:13] KatieWoe commented on #127
1.3.0-rc.4 challenge 2 and 3 use different points.

[2019-02-19 16:13] #127 closed

[2019-02-19 16:23] pixelzoom commented on #107
1.3.0-rc.4 was submitted for RC testing on 2/18/19, with 4 issues to verify.
See https://github.com/phetsims/QA/issues/290

[2019-02-19 16:38] KatieWoe commented on #117
I did have a quick question for GL though.  I noticed that "not a line" change size depending on what happened before it.  I think this was known (https://github.com/phetsims/graphing-lines/issues/117#issuecomment-460484858) but I wanted to make sure before I oked the issue.
![differentsizes](https://user-images.githubusercontent.com/41024075/53031441-178e8e00-342a-11e9-85cc-4a271910c8fb.gif)

[2019-02-19 16:38] KatieWoe commented on #114
I did have a quick question for GL though.  I noticed that "not a line" change size depending on what happened before it.  I think this was known (https://github.com/phetsims/graphing-lines/issues/117#issuecomment-460484858) but I wanted to make sure before I oked the issue.
![differentsizes](https://user-images.githubusercontent.com/41024075/53031467-283f0400-342a-11e9-8f88-14d292315759.gif)

[2019-02-19 16:41] pixelzoom commented on #114
Thanks @KatieWoe.  What you're showing above is relevant only to #117, not this issue.   Displaying "is not a line" is handled separately from equations.

So if you don't find anything else, feel free to close this issue.

[2019-02-19 16:42] #114 closed

[2019-02-19 17:03] KatieWoe commented on #124
Looks good in both rc-4's

[2019-02-19 17:03] #124 closed

[2019-02-19 17:55] pixelzoom commented on #117
So here's the dilemma... For "Place the Point" challenges, there are 3 things that can be displayed in bottom box (the "guess box"):

* an equation (e.g. `y = 2x + 3`)
* "x = N (undefined slope)"
* "... is not a line"

Only one of these is displayed depending on where the 3 points are placed, and the other 2 is invisible. All 3 share a common parent (the box's content), and `maxWidth` is set on th

[2019-02-19 18:23] amanda-phet commented on #117
I agree with @pixelzoom that we should not address this. I'm not sure it is worth it ever, because of the considerations you listed (unlikely to occur, and no effect on usability).

[2019-02-19 18:29] pixelzoom commented on #117
Thanks @amanda-phet.

@KatieWoe anything else to do here, or OK to close?

[2019-02-19 18:30] KatieWoe commented on #117
Should be ok to close.  Closing

[2019-02-19 18:30] #117 closed

[2019-02-20 17:48] KatieWoe opened #128 "IE sound may give out"
For https://github.com/phetsims/QA/issues/290 and https://github.com/phetsims/QA/issues/291
If clicking through the problems in the game quickly enough in the game, the sound may not play properly in Internet explorer.  The second "wrong" sound does not play.  A slight pause in between stops this.  At one point the sound in the sim gave out altogether, but it came back upon refreshing the sim.  Ov

[2019-02-20 17:59] pixelzoom commented on #128
All of the sound in this sim is from common-code (vibe & vegas), so if it's a problem in this sim, I would expect it to affect other sims that have a game.

Afaik, there hasn't been any work on vibe in awhile, so I would expect published sims to have a similar problem. But it would be good to check, to verify that this isn't a new problem in PhET code.
And it would also be good to check with @jbph

[2019-02-20 19:08] jbphet commented on #128
We can be fairly confident that the problem described above won't be a problem once we have migrated to tambo because we made a decision to stop supporting sound at all on IE in tambo, see https://github.com/phetsims/tambo/issues/6.  Also, I plan to make sure that a sim is either user either tambo or vibe, never both.

[2019-02-20 19:13] pixelzoom commented on #128
Since the future is tambo, and tambo is not supporting sound on IE, then there's no reason to address this issue.  Closing.  If anyone disagrees, please reopen.

@KatieWoe as usual, thanks for reporting.

[2019-02-20 19:13] #128 closed

[2019-02-20 20:17] pixelzoom commented on #107
1.3.0-rc.4 testing was completed on 2/20/19.
See [phetsims/QA#290](https://github.com/phetsims/QA/issues/290)

[2019-02-20 20:53] pixelzoom commented on #107
1.3.0 was published on 2/20/19: `grunt production --brands=phet --branch=1.3`

Closing.

[2019-02-20 20:53] #107 closed

[2019-02-20 20:53] pixelzoom commented on #103
@amanda-phet 1.3.0 has been published, you may deploy revised materials.

[2019-02-20 21:50] amanda-phet commented on #103
Done!

[2019-02-20 21:50] #103 closed

[2019-02-26 03:24] pixelzoom commented on #126
@amanda-phet 1.3.0 has been published, so you can move forward with this issue.

[2019-04-18 02:44] amanda-phet commented on #126
Delivered 3/19/19.

[2019-04-18 02:44] #126 closed

[2019-04-18 19:03] KatieWoe opened #129 "Usability on small screens review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* None seen

Screenshots:
![Image from iOS (1)](https://user-images.githubusercontent.com/41024075/56384701-52b6fe80-61da-11e9-8d5f-a3b49174

[2019-04-18 19:03] #129 closed

[2019-07-29 17:33] amanda-phet opened #130 "Consider using PropertyFractionNode (common)"
Any sim that uses a fraction in a display might want to consider using (and modifying, if needed) the new fraction common code that was added due to https://github.com/phetsims/fractions-intro/issues/7 .

[2019-08-12 16:05] pixelzoom commented on #130
I have investigated.  The advantage to doing this is almost negligible, and the amount of work is large.   Even if there were some a11y or PhET-iO advantage, those features should be addressed for equations _in general_, not just fractions.

So I'm going to close this as "won't fix".  @amanda-phet feel free to reopen if you disagree.

[2019-08-12 16:05] #130 closed

[2019-08-12 20:52] pixelzoom commented on #61
Deferred until phetsims/vegas#51 is resolved.

[2020-03-02 02:55] pixelzoom opened #131 "use Enumeration"
... for

- [x] `EquationForm`
- [x] `GamePhase`
- [x] `ManipulationMode`
- [x] `PlayState`

[2020-03-11 02:57] pixelzoom commented on #131
Done, closing.

[2020-03-11 02:57] #131 closed

[2020-03-20 19:05] pixelzoom commented on #116
This issues is not specific to graphing-lines, and still occurs now that this sim is using tambo for sound.    So transferring this issue to tambo.

[2020-09-08 23:29] pixelzoom opened #132 "replace deprecated input listeners"
Related to https://github.com/phetsims/scenery/issues/1078.

- [x] Manipulator: ButtonListener > FireListener
- [x] PointToolNode: SimpleDragHandler > DragListener
- [x] PointManipulator: SimpleDragHandler > DragListener
- [x] SlopeManipulator: SimpleDragHandler > DragListener
- [x] X1Y1Manipulator: SimpleDragHandler > DragListener
- [x] X1Y2Manipulator: SimpleDragHandler > DragListener
- [x] YInt

[2020-09-09 02:18] pixelzoom commented on #132
Done, closing.

[2020-09-09 02:18] #132 closed

[2020-10-29 15:24] KatieWoe opened #133 "CT: should not be called if disposed"
Also in Graphing Slope Intercept
[code]

[2020-10-29 15:35] pixelzoom commented on #133
This appears to be related to `pickableProperty` -- `GraphPointSlopeNode.setPickable`. It started occurring 10/28/2020 at 4:00PM.  It occurs on most (but not all) CT cycles.

@samreid and @zepumph have been working on pickableProperty. Any ideas?

[2020-10-29 15:56] pixelzoom commented on #133
Reproduced in master by running graphing-slope-intercept from phetmarks with ?fuzz.  The sim fails immediately on startup.

Here's the relevant code sequence in GraphTheLineNode constructor. Failure occurs on lien 136.

[code]

Note that in `disposeGraphTheLineNode`, playStateObserver is unlinked before graphNode is disposed.  So I'm wondering if Node is not properly disposing of pickableProperty.

[2020-10-29 16:02] pixelzoom commented on #133
I added this line to the beginning of `playStateObserver`:

[code]

... and the assertion fails.  So this looks like a sim-specific problem.

[2020-10-29 16:09] zepumph commented on #133
The issue is because we began disposing visible and pickable Properties in Node on dispose (like in https://github.com/phetsims/scenery/commit/f4097d022dcc34abdc748841c1b1534fd126244a).

Before that, this was still a sim-specific problem, as pickable listeners were being called after Node disposal, it's just that the pickableProperty wasn't actually getting disposed.

This is similar to the sim-sp

[2020-10-29 16:32] pixelzoom commented on #133
If I comment out this line in GraphTheLineNode:

[code]

... then I get a similar failure for visibleProperty in ChallengeNode line 118:

[code]

Here's the stack trace:

[code]

Again, order of disposal looks correct -- listeners are removed before disposing Nodes that are used by listeners -- so I'm not sure why this is occurring.

[2020-10-29 16:59] zepumph commented on #133
In the EFAC issue (converted into this case), was the following:

Note that the pickability is being changed from this listener:

https://github.com/phetsims/graphing-lines/blob/bb134df9021fa4a7e9e0bd2c86bfe7ad66857464/js/linegame/view/MakeTheEquationNode.js#L137

based on `model.playStateProperty`

If there is an earlier listener attached to playStateProperty that is responsible for disposing the

[2020-10-29 17:14] pixelzoom commented on #133
Thanks for the explanation @zepumph, that is also what is happening in this case.   I've addressed this in the above commit in the same way that you did for EFAC -- playStateObserver is now a no-op if the challenge Node has been disposed.

I'll leave this open until CT indicates all clear.

[2020-10-29 18:42] pixelzoom commented on #133
CT has been clear for 2 cycles. Closing.

[2020-10-29 18:42] #133 closed

[2021-04-27 17:25] pixelzoom opened #134 "List original designer in "Lead design"?"
In https://github.com/phetsims/natural-selection/issues/270#issuecomment-827745710, @amanda-phet said:

If that applies to this sim, please specify what you'd like changed.

The current credits in graphing-lines-main.js are:

[code]

[2021-04-27 17:28] pixelzoom opened #135 "Factor out duplicated credits."
Graphing Slope-Intercept is sort of a subset of Graphing Lines.  So I think they should share credits, which are currently duplicated in *-main.js.  Factor credits out into GLConstants.js.

[2021-04-27 17:50] pixelzoom commented on #135
These sims have different "Lead designer" credit requirements, so I'm not going to do this. Closing as "won't fix".

[2021-04-27 17:50] #135 closed

[2021-04-27 18:02] amanda-phet commented on #134
I believe Ariel was the lead design for both Java and HTML5 for this sim. So I recommend no change.

[2021-04-27 18:09] pixelzoom commented on #134
Confirmed, Ariel was the lead designer of the Java version:

<img width="545" alt="screenshot_961" src="https://user-images.githubusercontent.com/3046552/116291093-71e5b080-a751-11eb-8808-ef7d3100e71b.png">

Closing.

[2021-04-27 18:09] #134 closed

[2021-09-15 18:00] pixelzoom opened #136 "Revise screenshots."
The look of the point tool was changed in https://github.com/phetsims/graphing-quadratics/issues/167, so screenshots will need to be revised.  This does not need to be addressed proactively, as other visual changes might be made before this sim is republished.

[2021-11-19 18:05] markgammon opened #137 "UI sounds for 1.4 release"
As part of the work done for https://github.com/phetsims/vegas/issues/77, UI sounds got turned on for this simulation.  Before the sim is published again from master, we should decide whether to turn the UI sounds off, leave them on and design and implement sounds for the rest of the interactions, or publish with a partial sound design.

If the decision is to turn them off, this can be accomplishe